extends layout

block head
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  title Método de pago - HTL Suica Hotel & Resort 
  
block nav
  include nav-checkout.jade

block content
  // Reservas
  div.container.content.styleb
    div.row
      div.col-sm-12
        p.sTitle Ultimo paso...
      div.col-sm-9
        div.panel.panel-elara
          div.panel-heading
            p.panel-title 2 - Metodos de pago
          div.panel-body
            p.rate
              span Elija un método de pago
            
              div.panel-group#accordion(role='tablist' aria-multiselectable='true')
                //- ================================
                //- ======== Pago en el hotel
                //- ================================
                div.panel.panel-elara
                  div.panel-heading#headingOne(role='tab')
                    img.img-icon(src="images/icons/hotel.png", alt="Hotel")
                    h4.panel-title
                      a(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                        | Pago en el hotel
                        i.fa.fa-caret-up.pull-right
                  div.panel-collapse.collapse.in#collapseOne(role='tabpanel' aria-labelledby='headingOne')
                    div.panel-body
                      div.row
                        div.col-xs-3
                          label(for='hotel-titular') Tarjeta
                          select.form-control
                            option(selected='selected', default disable hidden) Elija una opcion
                            option Visa
                            option Mastercard
                        div.col-xs-3
                          label(for='hotel-address') N° de Tarjeta
                          input.form-control#hotel-address(type='text' placeholder='i.e: 5521695066949351')  
                        div.col-xs-3
                          label(for='titular-lname') Vencimiento
                          div.row
                            div.col-xs-6
                              select.form-control.fx-pr
                                option(selected='selected', default disable hidden) Mes
                                option Enero
                                option Febrero
                                option Marzo
                                option Abril
                                option Mayo
                                option Junio
                                option Julio
                                option Agosto
                                option Septiembre
                                option Octubre
                                option Noviembre
                                option Diciembre 
                            div.col-xs-6
                              select.form-control.fx-pr
                                option(selected='selected', default disable hidden) Año
                                option 2016
                                option 2017
                                option 2019
                                option 2019
                        div.col-xs-3
                          label(for='titular-lname') Codigo de seguridad
                          input.form-control#hotel-address(type='text' placeholder='i.e: 741')  
                        div.clearfix
                        br
                        div.col-xs-4
                          label(for='hotel-titular') Titular
                          input.form-control#hotel-titular(type='text' placeholder='i.e: Cosme Fulanito')  
                        div.col-xs-4
                          label(for='hotel-address') Direccion
                          input.form-control#hotel-address(type='text' placeholder='i.e: Calle Falsa 123')  
                        div.col-xs-4
                          label(for='titular-lname') Ciudad
                          input.form-control#titular-lname(type='text' placeholder='i.e: Springfield')
                        div.clearfix
                        br
                        div.col-xs-4
                          label(for='titular-email') Telefono
                          input.form-control#titular-email(type='text' placeholder='direccion@ejemplo.com') 
                        div.col-xs-2
                          label(for='titular-country') Código postal
                          input.form-control#titular-email(type='text' placeholder='i.e: 1442') 
                      p.pt15 El pago total de la reserva se realizara en el hotel, con excepción de aquellas 
                        |promociones que indiquen lo contrario en donde se debitará el importe de su reserva 
                        |al momento de la compra. En caso de aplicar politicas de cobro adelantado o no show 
                        |se cobrara de esta misma tarjeta.
                      p.tx-cond.mb El pago de la estadía se realizará en la moneda del hotel. El valor final establecido 
                        |en la reserva puede sufrir modificaciones según el tipo de cambio vigente al día del pago.  
                
                //- ================================
                //- ======== Mercadopago 
                //- ================================
                div.panel.panel-elara
                  div.panel-heading#h-mercadopago(role='tab')
                    img.img-icon(src="images/icons/mercadopago.png", alt="Marcadopago")
                    h4.panel-title
                      a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#c-mercadopago' aria-expanded='false' aria-controls='c-mercadopago')
                        | Mercadopago
                        i.fa.fa-caret-down.pull-right
                  div.panel-collapse.collapse#c-mercadopago(role='tabpanel' aria-labelledby='h-mercadopago')
                    div.panel-body
                      p Podes pagar en 12 cuotas con tu tarjeta de credito.
                        a(href='https://www.mercadopago.com.ar/promociones' target='_blank')
                          |Ver promociones vigentes
                      img.center-block.img-responsive(src="images/cards.png", alt="")
                      br
                      |El pago de la reserva se realizara online en el siguiente paso. De no concretarse el pago la reserva se quedara pendiente por un plazo de 3 horas. De no concretarse en ese plazo se 
                      span.bold cancelará la reserva.
                
                //- ================================
                //- ======== Business
                //- ================================ 
                div.panel.panel-elara
                  div.panel-heading#h-business(role='tab')
                    img.img-icon(src="images/icons/bank.png", alt="Business")
                    h4.panel-title
                      a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#c-business' aria-expanded='false' aria-controls='c-business')
                        | Business
                        i.fa.fa-caret-down.pull-right
                  div.panel-collapse.collapse#c-business(role='tabpanel' aria-labelledby='h-business')
                    div.panel-body
                      | Seleccione la cuenta con la que desea operar. 
                      div.row
                        div.col-xs-3
                          label(for='hotel-titular')
                          select.form-control
                            option(selected='selected', default disable hidden) Escoja una opcion
                            option Ninguna de la anteriores
                            option Cuenta principal
                            option Cuenta secundaria
                
                //- ================================
                //- ======== Paypal
                //- ================================
                div.panel.panel-elara
                  div.panel-heading#h-paypal(role='tab')
                    img.img-icon(src="images/icons/paypal.png", alt="Paypal")
                    h4.panel-title
                      a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#c-paypal' aria-expanded='false' aria-controls='c-paypal')
                        | Paypal
                        i.fa.fa-caret-down.pull-right
                  div.panel-collapse.collapse#c-paypal(role='tabpanel' aria-labelledby='h-paypal')
                    div.panel-body
                      |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.        
                      
                //- ================================
                //- ======== Bitpagos
                //- ================================
                div.panel.panel-elara
                  div.panel-heading#h-bitpagos(role='tab')
                    img.img-icon(src="images/icons/bitcoin.png", alt="Bitpagos")
                    h4.panel-title
                      a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#c-bitpagos' aria-expanded='false' aria-controls='c-bitpagos')
                        | Bitpagos
                        i.fa.fa-caret-down.pull-right
                  div.panel-collapse.collapse#c-bitpagos(role='tabpanel' aria-labelledby='h-bitpagos')
                    div.panel-body
                      |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.        
                      
                //- ================================
                //- ======== Smile Payments
                //- ================================
                div.panel.panel-elara
                  div.panel-heading#h-smile(role='tab')
                    img.img-icon(src="images/icons/smile.png", alt="Smile Payments")
                    h4.panel-title
                      a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#c-smile' aria-expanded='false' aria-controls='c-smile')
                        | Smile payments
                        i.fa.fa-caret-down.pull-right
                  div.panel-collapse.collapse#c-smile(role='tabpanel' aria-labelledby='h-smile')
                    div.panel-body
                      |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.        
                      
                //- ================================
                //- ======== Efectivo
                //- ================================
                div.panel.panel-elara
                  div.panel-heading#h-efectivo(role='tab')
                    img.img-icon(src="images/icons/cash.png", alt="Efectivo")
                    h4.panel-title
                      a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#c-efectivo' aria-expanded='false' aria-controls='c-efectivo')
                        | Efectivo
                        i.fa.fa-caret-down.pull-right
                  div.panel-collapse.collapse#c-efectivo(role='tabpanel' aria-labelledby='h-efectivo')
                    div.panel-body
                      |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.        
                      
                //- ================================
                //- ======== Tarjeta de Crédito
                //- ================================
                div.panel.panel-elara
                  div.panel-heading#h-tarjeta(role='tab')
                    img.img-icon(src="images/icons/card.png", alt="Tarjeta de Crédito")
                    h4.panel-title
                      a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#c-tarjeta' aria-expanded='false' aria-controls='c-tarjeta')
                        | Tarjeta de Crédito
                        i.fa.fa-caret-down.pull-right
                  div.panel-collapse.collapse#c-tarjeta(role='tabpanel' aria-labelledby='h-tarjeta')
                    div.panel-body
                      |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.        
                      
                //- ================================
                //- ======== Transferencia bancaria
                //- ================================
                div.panel.panel-elara
                  div.panel-heading#h-banco(role='tab')
                    img.img-icon(src="images/icons/bank.png", alt="Transferencia bancaria")
                    h4.panel-title
                      a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#c-banco' aria-expanded='false' aria-controls='c-banco')
                        | Transferencia Bancaria
                        i.fa.fa-caret-down.pull-right
                  div.panel-collapse.collapse#c-banco(role='tabpanel' aria-labelledby='h-banco')
                    div.panel-body
                      |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.        
            div.divider
            a.btn.btn-success.btn-lg.pull-right.mt15(href='/voucher')
              | Finalizar reserva 
              i.fa.fa-check.fa-white
                
      //- ================================
      //- ======== Transferencia bancaria
      //- ================================
      div.col-sm-3.pull-right.total
        div.row
          div.col-xs-12
            p.title Detalle de seleccion
            //- Cantidad de noches
            p.stay 
              span.bold 12 
              | noches
          //- Fechas de entrada y salida
          div.col-xs-6.date.in
            p.title Entrada
            p.mb
              span.dName MAR 
              span.dNum 19/12
            p.mb
              span.dHour 14:43 hs
          div.col-xs-6.date.out
            p.title Salida
            p.mb
              span.dName DOM 
              span.dNum 28/02
            p.mb
              span.dHour 23:18 hs
          div.clearfix
          //-Seleccion #1
          div.col-xs-12.section-o
            p.title-r Loft Triple Superior
            ul.list-unstyled.rate-list
              li 1 oferta especial
                span.pull-right $1.198
              li 1 Promo tarjeta de credito 
                span.pull-right $1.528
              li.pull-right.res  
                |subtotal  
                span.sub $2.726
          //-Seleccion #2
          div.col-xs-12.section-o
            p.title-r Loft Doble comun
            ul.list-unstyled.rate-list
              li 1 oferta imbatitle
                span.pull-right $1.321
              li 2 tarjeta de credito 
                span.pull-right $2.923
              li 2 Tarifa regular
                span.pull-right $4.332
              li.pull-right.res  
                |subtotal  
                span.sub $8.606
          //-Resultado Final
          div.col-xs-12.section-g
            p.title-r Resumen
            ul.list-unstyled.exp-list
              li 2 Loft Triple Superior
                span.pull-right $2.726
              li 2 Loft Doble Comunn
                span.pull-right $8.606
                li.pull-right.res  
                  |total  
                  span.res-total $11.332
block scripts
  script(type='text/javascript' src='javascripts/toggle-icon.js')
