footer.footer
  div.container
    div.row
      div.col-xs-12.col-sm-6.col-md-4.col-lg-4
        h3.title Suica Hotel
        ul.list-unstyled
          li Av Felipe Wanscheer 3580 - JD
          li Sao Paulo, Foz Do Iguaçu, Brasil
          li +54 (11) 5032-4903
          li reservasbr@htlhoteles.com
      div.col-xs-12.col-sm-6.col-md-5.col-lg-4
        h3.title Secciones
        div.col-xs-6.menu-footer
          ul.list-unstyled
            li
              a(href='/habitaciones')
                i.fa.fa-caret-right
                |  Habitaciones
            li
              a(href='/promociones')
                i.fa.fa-caret-right
                |  Promociones
            li
              a(href='/imagenes')
                i.fa.fa-caret-right
                |  Galeria
            li
              a(href='/servicios')
                i.fa.fa-caret-right
                |  Servicios
        //- Second column
        div.col-xs-6.menu-footer
          ul.list-unstyled
            li
              a(href='/contacto')
                i.fa.fa-caret-right
                |  Contacto
            li
              a(href='/ubicacion')
                i.fa.fa-caret-right
                |  Ubicacion
            li
              a(href='/reservas')
                i.fa.fa-caret-right
                |  Reservas
      div.col-sm-6.col-md-3.col-lg-2
        h3.title Síguenos
        a.social(href='https://facebook.com' target='_blank')
          img(src='images/social/square-facebook.png' alt='Facebook' width='30')
        a.social(href='https://twitter.com' target='_blank')
          img(src='images/social/square-twitter.png' alt='Facebook' width='30')
      
      div.col-sm-6.col-md-2.col-lg-2
        h3.title Idiomas
        ul.list-unstyled
          li
            a(href='#') 
              img(src='images/sp.svg' alt='Spanish flag' width='20') 
              | &nbsp; Español
          li
            a(href='#')
              img(src='images/br.svg' alt='Brazilian flag' width='20')
              | &nbsp; Portugués
          li
            a(href='#')
              img(src='images/uk.svg' alt='United Kingdom flag' width='20')
              | &nbsp; Inglés
    div.col-xs-12.copyright
      p.text-center 2016 ©  Suíça Hotel - All rights reserved. Powered by 
        a.medium(href='https://www.htlhoteles.com/' target='_blank')
          | HTL Hotels
