extends layout

block content
  
  // Search N
  include search_n.jade
  
  //Habitaciones
  div.container.content.styleb
    div.row
      div.col-xs-12
        p.sTitle Imágenes
        p.sSubtitle 
          |Conoce el hotel a traves de las imagenes que te mostramos en esta sección. 
          |Este es un texto de relleno cuyo contenido son estas mismas palabras. 
          |La idea del mensaje es justamente lo que quiere decir. Gracias por su atención.
      div.col-xs-6
        div.gallery
          //-galler for 3 images
          p.sSubtitleb.mb Interior del Hotel
          div.row#links
            div.col-xs-6.pr7
              a.img-fh(style='background-image: url(images/images/hab1.jpg);' href='/images/images/hab1.jpg' title="Banana" data-gallery)
            div.col-xs-6.pl7 
              a.img-rhh-t(style='background-image: url(images/images/hab2.jpg);' href='/images/images/hab1.jpg' title="Banana" data-gallery)
            div.col-xs-6.pl7
              a.img-rhh-b(style='background-image: url(images/images/hab3.jpg);' href='/images/images/hab3.jpg' title="Banana" data-gallery)
      div.col-xs-6
        div.gallery
          //-galler for 2 images
          p.sSubtitleb.mb Arquitectura
          div.row
            div.col-xs-6.pr7
              a.img-fh(style='background-image: url(images/images/arq1.jpg);' href='/images/images/arq1.jpg' title="Banana" data-gallery)
            div.col-xs-6.pl7
              a.img-fh(style='background-image: url(images/images/arq2.jpg);' href='/images/images/arq2.jpg' title="Banana" data-gallery)
                
      div.col-xs-6.mtb20
        div.gallery
          p.sSubtitleb.mb Habitaciones
          div.row
            div.col-xs-6.pr7
              a.img-rhh-t(style='background-image: url(images/images/hab4.jpg);' href='/images/images/hab4.jpg' title="Banana" data-gallery)
            div.col-xs-6.pl7
              a.img-rhh-b.mt(style='background-image: url(images/images/hab5.jpg);' href='/images/images/hab5.jpg' title="Banana" data-gallery)
            div.col-xs-6.pr7.mt15
              a.img-rhh-t(style='background-image: url(images/images/hab6.jpg);'  href='/images/images/hab5.jpg' title="Banana" data-gallery)
            div.col-xs-6.pl7.mt15
              div.img-rhh-b.mt(style='background-image: url(images/images/hab7.jpg);' href='/images/images/hab6.jpg' title="Banana" data-gallery)
      div.col-xs-6.mtb20
        div.gallery
          p.sSubtitleb.mb Habitaciones
          div.row
            div.col-xs-6.pr7
              a.img-rhh-t(style='background-image: url(images/images/hab4.jpg);' href='/images/images/hab4.jpg' title="Banana" data-gallery)
            div.col-xs-6.pl7
              a.img-rhh-b.mt(style='background-image: url(images/images/hab5.jpg);' href='/images/images/hab5.jpg' title="Banana" data-gallery)
            div.col-xs-6.pr7.mt15
              a.img-rhh-t(style='background-image: url(images/images/hab6.jpg);'  href='/images/images/hab5.jpg' title="Banana" data-gallery)
            div.col-xs-6.pl7.mt15
              a.img-rhh-b.mt(style='background-image: url(images/images/hab7.jpg);' href='/images/images/hab6.jpg' title="Banana" data-gallery)
            div.col-xs-6.pl7.more
              a.img-rhh-b(href='/images/images/hab6.jpg' title="Banana" data-gallery)
              
        

  div.blueimp-gallery.blueimp-gallery-controls#blueimp-gallery(data-use-bootstrap-modal='false')
    div.slides
    h3.title
    a.prev 
        i.fa.fa-chevron-left
    a.next
      i.fa.fa-chevron-right
    a.close x
    a.play-pause
    ol.indicator
    div.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type='button' aria-hidden='true')&times;
            h4.modal-title
          div.modal-body.next
          div.modal-footer
            button.btn.btn-default.pull-left.prev(type='button')
              i.fa.fa-caret-left 
              | Anterior 
            button.btn.btn-primary.next(type='button')
              | Siguiente 
              i.fa.fa-caret-right
  //Footer
  include footer.jade
  //JS
  script(type='text/javascript' src='javascripts/jquery.min.js')
  script(type='text/javascript' src='javascripts/bootstrap.min.js')
  //- Tooltip enabler
  script(type='text/javascript' src='javascripts/tooltip-e.js')
  script(type='text/javascript' src='//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js')
  script(type='text/javascript' src='javascripts/bootstrap-image-gallery.min.js')
