block inc-amenities
  //- First Colum
  div.col-xs-6.col-sm-3
    ul.list-unstyled
      li
        i.fa.fa-wifi.fa-lg.icon
        span.amt-name
          | Wi-Fi
      li
        i.fa.fa-futbol-o.fa-lg.icon
        span.amt-name
          | Cancha de Futbol
  //- Second Colum
  div.col-xs-6.col-sm-3
    ul.list-unstyled
      li
        i.fa.fa-bicycle.fa-lg.icon
        span.amt-name
          | Bicicletas
      li
        i.fa.fa-television.fa-lg.icon
        span.amt-name
          | TV por Cable
  //- third Colum
  div.col-xs-6.col-sm-3
    ul.list-unstyled
      li
        i.fa.fa-shopping-basket.fa-lg.icon
        span.amt-name
          | Shoppings
      li
        i.fa.fa-glass.fa-lg.icon
        span.amt-name
          | Bar
  //- fourth Colum
  div.col-xs-6.col-sm-3
    ul.list-unstyled
      li
        i.fa.fa-ticket.fa-lg.icon
        span.amt-name
          | Eventos
      li
        i.fa.fa-wheelchair.fa-lg.icon
        span.amt-name
          | Sillas de ruedas
