extends layout

block content
  // - Brand and toggle get grouped for better mobile display
  div.container 
  p ola ke asé!
              
  script(type='text/javascript' src='javascripts/jquery.min.js')
  script(type='text/javascript' src='javascripts/bootstrap.min.js')

  
