div.container-fluid.mp-box.hidden-xs
  div.container
    div.row
      a.clean.col-md-3.col-md-offset-1.visible-md.visible-lg(style='display: block;' href='/promocion')
        p.info.text-right Aboná hasta en 
          span.bold 12 cuotas <br> con tarjeta de crédito
      div.col-sm-3.visible-sm
        p.info. Aboná hasta en 
          span.bold 12 cuotas <br>con tarjeta de crédito
      div.col-sm-9.col-md-7
        a.clean(style='display: block;' href='/promocion')
          img.img-responsive(src='images/mercadopago.png' alt='Tarjetas Mercadopago')
