ul.list-unstyled.exp-list-l.fa-ul
  li
    i.fa-li.fa.fa-wifi.fa-lg.icon
    span.amt-name
      | Wi-Fi papa
  li
    i.fa-li.fa.fa-futbol-o.fa-lg.icon
    span.amt-name
      | Cancha de Futbol
  li
    i.fa-li.fa.fa-bicycle.fa-lg.icon
    span.amt-name
      | Bicicletas
  li
    i.fa-li.fa.fa-television.fa-lg.icon
    span.amt-name
      | TV por Cable
  li
    i.fa-li.fa.fa-shopping-basket.fa-lg.icon
    span.amt-name
      | Shoppings
  li
    i.fa-li.fa.fa-glass.fa-lg.icon
    span.amt-name
      | Bar
  li
    i.fa-li.fa.fa-ticket.fa-lg.icon
    span.amt-name
      | Eventos
  li
    i.fa-li.fa.fa-wheelchair.fa-lg.icon
    span.amt-name
      | Sillas de ruedas
