extends layout

block head
  link(rel='stylesheet', href='/stylesheets/datepicker.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  title Promociones - HTL Suica Hotel & Resort 
  
block nav
  include nav.jade

block content
  
  div.hidden-xs
    // Search N
    include search_n.jade
  div.visible-xs
    // Search N
    include search.jade
  
  // Section Description
  div.container.content.styleb
    div.row
      div.col-xs-12.pb20
        p.sTitle Promociones
    div.row.grid
      // Room #1  
      div.col-sm-6.col-md-4.media-cont.grid-item
        div.thumbnail.fw-top
          div.top-media-img
            a(href='/promocion' style='text-decoration: none;')
              img.img-responsive(src='images/promo/cuotas.png' alt='Loft Doble')
          div.caption.to
            a(href='/promocion' style='text-decoration: none;')
              p.title-over Promo Tarjeta de Crédito 
              p.validity Del 30 de Febrero al 17 de Marzo
              p.description Pagando tu estadía con tarjeta de crédito obtén un 20% de descuento en la tarifa. Contacta a nuestro departamento de reservas para solicitar esta promoción.
              p.conditions Sujeto a disponibilidad. No acumulable con otras promociones. Cancelacion gratuita
            //footer with 2 buttons
            div.row.ptb10
              div.col-xs-5
                div.btn-group
                  button.dropdown-toggle.btn-share(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.fa.fa-share-alt.fa-fw
                    | Compartir
                  ul.dropdown-menu.social-menu
                    li
                      p(style='padding: 5px 5px 2px; margin-bottom: 0;')
                        a(href='#')
                          i.fa.fa-twitter-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-facebook-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-whatsapp.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-google-plus-square.fa-2x.fa-fw
              div.col-xs-7
                a.btn.btn-warning.btn-left-double(href='/reservas' role='button') Llamar 
                a.btn.btn-info.btn-right-double(href='/reservas' role='button') Reservar      
      // Room #2  
      div.col-sm-6.col-md-4.media-cont.grid-item 
        div.thumbnail.fw-top
          div.top-media-img
            a(href='/promocion' style='text-decoration: none;')
              img.img-responsive(src='images/promo/family.png' alt='Loft Doble')
          div.caption.to
            a(href='/promocion' style='text-decoration: none;')
              p.title-over Promo Familiar (1 menor gratis)
              p.validity Del 30 de Febrero al 17 de Marzo
              p.description Loft doble superior con Box Window con vista panorámica a Avenida 9 de Julio + Champagne para el brindis + Petitt Fours + late check out 16 horas. Acreditando fecha de aniversario el paquete es gratuito. Valor adicional a la estadía USD 35. 
              p.conditions Sujeto a disponibilidad. No acumulable con otras promociones. Cancelacion gratuita
            //footer with 1 button
            div.row.ptb10
              div.col-xs-6
                div.btn-group
                  button.dropdown-toggle.btn-share(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.fa.fa-share-alt.fa-fw
                    | Compartir
                  ul.dropdown-menu.social-menu
                    li
                      p(style='padding: 5px 5px 2px; margin-bottom: 0;')
                        a(href='#')
                          i.fa.fa-twitter-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-facebook-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-whatsapp.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-google-plus-square.fa-2x.fa-fw
              div.col-xs-6
                a.btn.btn-info.btn-right-single(href='/reservas' role='button') Reservar
      // Room #3  
      div.col-sm-6.col-md-4.media-cont.grid-item 
        div.thumbnail.fw-top
          div.top-media-img
            a(href='/promocion' style='text-decoration: none;')
              img.img-responsive(src='images/promo/romance.png' alt='Loft Doble')
          div.caption.to
            a(href='/promocion' style='text-decoration: none;')
              p.title-over Promo Romantica
              p.validity Del 30 de Febrero al 17 de Marzo
              p.description Ut sodales blandit leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse mollis mattis ex sit amet convallis.
              p.conditions Sujeto a disponibilidad. No acumulable con otras promociones. Cancelacion gratuita
            //footer with 1 button
            div.row.ptb10
              div.col-xs-6
                div.btn-group
                  button.dropdown-toggle.btn-share(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.fa.fa-share-alt.fa-fw
                    | Compartir
                  ul.dropdown-menu.social-menu
                    li
                      p(style='padding: 5px 5px 2px; margin-bottom: 0;')
                        a(href='#')
                          i.fa.fa-twitter-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-facebook-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-whatsapp.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-google-plus-square.fa-2x.fa-fw
              div.col-xs-6
                a.btn.btn-warning.btn-right-single(href='/reservas' role='button') Llamar
      // Room #4  
      div.col-sm-6.col-md-4.media-cont.grid-item 
        div.thumbnail.fw-top
          div.top-media-img
            a(href='/promocion' style='text-decoration: none;')
              img.img-responsive(src='images/promo/cuotas.png' alt='Loft Doble')
          div.caption.to
            a(href='/promocion' style='text-decoration: none;')
              p.title-over Early Booking Bonus (25% off)
              p.validity Del 30 de Febrero al 17 de Marzo
              p.description Pagando tu estadía con tarjeta de crédito obtén un 20% de descuento en la tarifa. Contacta a nuestro departamento de reservas para solicitar esta promoción.
              p.conditions Sujeto a disponibilidad. No acumulable con otras promociones. Cancelacion gratuita
            //footer with 2 buttons
            div.row.ptb10
              div.col-xs-5
                div.btn-group
                  button.dropdown-toggle.btn-share(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.fa.fa-share-alt.fa-fw
                    | Compartir
                  ul.dropdown-menu.social-menu
                    li
                      p(style='padding: 5px 5px 2px; margin-bottom: 0;')
                        a(href='#')
                          i.fa.fa-twitter-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-facebook-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-whatsapp.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-google-plus-square.fa-2x.fa-fw
              div.col-xs-7
                a.btn.btn-warning.btn-left-double(href='/reservas' role='button') Llamar 
                a.btn.btn-info.btn-right-double(href='/reservas' role='button') Reservar
            
      // Room #5  
      div.col-sm-6.col-md-4.media-cont.grid-item 
        div.thumbnail.fw-top
          div.top-media-img
            a(href='/promocion' style='text-decoration: none;')
              img.img-responsive(src='images/promo/family.png' alt='Loft Doble')
          div.caption.to
            a(href='/promocion' style='text-decoration: none;')
              p.title-over 12 Cuotas sin interés
              p.validity Del 30 de Febrero al 17 de Marzo
              p.description Loft doble superior con Box Window con vista panorámica a Avenida 9 de Julio + Champagne para el brindis + Petitt Fours + late check out 16 horas. Acreditando fecha de aniversario el paquete es gratuito. Valor adicional a la estadía USD 35. 
              p.conditions Sujeto a disponibilidad. No acumulable con otras promociones. Cancelacion gratuita
            //footer with 1 button
            div.row.ptb10
              div.col-xs-6
                div.btn-group
                  button.dropdown-toggle.btn-share(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.fa.fa-share-alt.fa-fw
                    | Compartir
                  ul.dropdown-menu.social-menu
                    li
                      p(style='padding: 5px 5px 2px; margin-bottom: 0;')
                        a(href='#')
                          i.fa.fa-twitter-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-facebook-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-whatsapp.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-google-plus-square.fa-2x.fa-fw
              div.col-xs-6
                a.btn.btn-info.btn-right-single(href='/reservas' role='button') Reservar
      // Room #5  
      div.col-sm-6.col-md-4.media-cont.grid-item 
        div.thumbnail.fw-top
          div.top-media-img
            a(href='/promocion' style='text-decoration: none;')
              img.img-responsive(src='images/promo/family.png' alt='Loft Doble')
          div.caption.to
            a(href='/promocion' style='text-decoration: none;')
              p.title-over 12 Cuotas sin interés
              p.validity Del 30 de Febrero al 17 de Marzo
              p.description Loft doble superior con Box Window con vista panorámica a Avenida 9 de Julio + Champagne para el brindis + Petitt Fours + late check out 16 horas. Acreditando fecha de aniversario el paquete es gratuito. Valor adicional a la estadía USD 35. 
              p.conditions Sujeto a disponibilidad. No acumulable con otras promociones. Cancelacion gratuita
            //footer with 1 button
            div.row.ptb10
              div.col-xs-6
                div.btn-group
                  button.dropdown-toggle.btn-share(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.fa.fa-share-alt.fa-fw
                    | Compartir
                  ul.dropdown-menu.social-menu
                    li
                      p(style='padding: 5px 5px 2px; margin-bottom: 0;')
                        a(href='#')
                          i.fa.fa-twitter-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-facebook-square.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-whatsapp.fa-2x.fa-fw
                        a(href='#')
                          i.fa.fa-google-plus-square.fa-2x.fa-fw
              div.col-xs-6
                a.btn.btn-info.btn-right-single(href='/reservas' role='button') Reservar
      div.col-md-4.media-cont.grid-item 
                
block scripts
  script(type='text/javascript' src='/javascripts/bootstrap-datepicker.min.js')
  script(type='text/javascript' src='/javascripts/locales/bootstrap-datepicker.es.js' charset='UTF-8')
  script(type='text/javascript' src='/javascripts/datepicker-e.js')  
  script(type='text/javascript' src='/javascripts/masonry.pkgd.min.js')
  script(type='text/javascript' src='/javascripts/masonry.js')
