extends layout

block head
  link(rel='stylesheet', href='/stylesheets/datepicker.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-image-gallery.min.css')
  link(rel='stylesheet', href='//blueimp.github.io/Gallery/css/blueimp-gallery.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  title Promocion - HTL Suica Hotel & Resort 
  
block nav
  include nav.jade
block content
  
  // Search N
  include search_n.jade
  
  //Habitaciones
  div.container.content.styleb
    div.row
      div.col-xs-8
        p.sTitle Promo individual
        p.sSubtitle(style='margin-bottom:20px;')
          | Pagando tu estadía con tarjeta de crédito obtén un 20% de descuento en tu estadia y hasta 12 cuotas sin interes. 
        p.sSubtitle(style='margin-bottom:20px;')
          |Contacta a nuestro departamento de reservas para solicitar esta promoción. Sujeto a disponibilidad. No acumulable con otras promociones.
        div.row
          div.col-xs-3
            a.btn.btn-warning.btn-block(href='/contacto' role='button') Llamar 
          div.col-xs-3
            a.btn.btn-info.btn-block(href='/reservas' role='button') Reservar     
        br
        a(href='/promociones')
          |ver otras promociones vigentes
      div.col-xs-4
        //-ToDo: buscar algo para poner en este espacio
        div.row.gallery
          div.col-sm-6.left
            img.img-responsive.imgBox(src='images/service/srv1.jpg' alt='Desayuno de campeones')
          div.col-sm-6.right
            img.img-responsive.imgBox(src='images/service/srv2.jpg' alt='Desayuno de campeones')
          div.clearfix
          div.col-sm-6.left.last
            img.img-responsive.imgBox(src='images/service/srv3.jpg' alt='Desayuno de campeones')
          div.col-sm-6.right
            img.img-responsive.imgBox(src='images/service/srv4.jpg' alt='Desayuno de campeones')
            
  block scripts
