div.resolution-message
  div.col-xs-12
    div.alert.alert-warning(role='alert')
      p.bold Inglés
      p You need a higher resolution than 320px to view this component
      p Back to the 
        a.alert-link(href='/') home
      br
      .divider(style='border-bottom-color: #f90 !important;')
      br
        
      p.bold Español
      p Necesitas una resolución mayor a 320px para ver este componente
      p Volver al 
        a.alert-link(href='/') home
      br
      .divider(style='border-bottom-color: #f90 !important;')
      br
        
      p.bold Portugués
      p Você precisa de uma resolução maior do que 320px para ver este componente
      p Voltar ao 
        a.alert-link(href='/') início
