extends layout

block content
  
  // Search N
  include search_n.jade
  
  // Section Description
  div.container.content.styleb
  // Footer
  include footer.jade
  // JS
  script(type='text/javascript' src='javascripts/jquery.min.js')
  script(type='text/javascript' src='javascripts/bootstrap.min.js')
  script(type='text/javascript' src='javascripts/tooltip-e.js')
