extends layout

block head
  link(rel='stylesheet', href='/stylesheets/datepicker.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-image-gallery.min.css')
  link(rel='stylesheet', href='/stylesheets/blueimp-gallery.min.css')
  title Resultados - HTL Suica Hotel & Resort 

block nav
  include nav.jade

block content
  
  div.hidden-xs
    include search_n.jade
  div.visible-xs
    include search.jade
  
  // Habitaciones   
  div.container.content
    div.row.pt30
      include top-result.jade
    div.row
      //Results
      div.col-sm-12(style='margin-bottom: -15px;')
        h3 Otras ofertas que tambien te pueden interesar
      //-TOTALIZATOR    
      include totalizator.jade
      
      div.media.reg.col-xs-12.col-sm-9.col-md-10.col-lg-9
        img.visible-xs.visible-sm.img-responsive.center-block(src='/images/room/room4.png' alt='Some room')
        
        div.media-left.media-top.hidden-sm.hidden-xs
          a(href='/images/room/room4.png' style='position: relative;' title="Vista de habitacion" data-gallery)
            img.media-object.hidden-sm(src='/images/room/room4.png' alt='Some room')
            a.btn.btn-line.btn-img-more(role='button' href='/habitacion' target='_blank')
              |ver habitacion       
              i.fa.fa-search
        div.media-body
          p.media-heading
            a.clean(href='/habitacion' target='_blank')
              span.rm-title Loft Doble superior 
              span.rm-size (42m²)  
              span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='2 ocupantes')
                i.fa.fa-user &nbsp;
                i.fa.fa-user
          table.table
            thead
              tr
                th Tarifas
                th Condiciones
                th.hidden-xs Precio por noche
                th.visible-xs Noche
                th Habitacion
            tbody
              tr
                td
                  span(data-toggle='tooltip' data-placement='bottom' title='Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.') Oferta imbatible
                td No cancelable
                td
                  span.old-price $949.42 &nbsp;
                  span.new-price &nbsp; $1249.42
                td
                  select.form-control
                    option(selected) 0
                    option 1 
                    option 2
                    option 2
              tr
                td
                  span(data-toggle='tooltip' data-placement='bottom' title='Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')  Tarjetas de crédito
                td No cancelable
                td
                  span.reg-price $1412.97
                td
                  select.form-control
                    option(selected) 0
                    option 1
                    option 2    
              tr
                td
                  span(data-toggle='tooltip' data-placement='bottom' title='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ') Tarifa standard
                td.cancel
                  span(data-toggle='tooltip' data-placement='bottom' title='Podes cancelar la reserva hasta 24hs antes del Check In') 
                    | Cancelación gratuita 
                    i.fa.fa-info-circle
                td
                  span.reg-price $1931.23
                td
                  select.form-control
                    option(selected) 0
                    option 1
                    option 2
        div.divider
          
      div.media.reg.col-xs-12.col-sm-9.col-md-10.col-lg-9
        img.visible-xs.visible-sm.img-responsive.center-block(src='/images/room/room2.png' alt='')
          
        div.media-left.media-top.hidden-sm.hidden-xs
          a(href='/images/room/room2.png' style='position: relative;')
            img.media-object(src='/images/room/room2.jpg' alt='')
            a.btn.btn-line.btn-img-more(role='button' target='_blank'  href='/habitacion')
              |ver habitacion       
              i.fa.fa-search
        div.media-body
          p.media-heading 
            a.clean(href='/habitacion' target='_blank')
              span.rm-title Loft Triple 
              span.rm-size (38m²) 
              span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='3 ocupantes')
                i.fa.fa-user &nbsp;
                i.fa.fa-user &nbsp;
                i.fa.fa-user
          table.table
            thead
              tr
                th Tarifas
                th Condiciones
                th.hidden-xs Precio por noche
                th.visible-xs Noche
                th Habitacion
            tbody
              tr
                td
                  span(data-toggle='tooltip' data-placement='bottom' title='Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.') Oferta imbatible
                td No cancelable
                td
                  span.old-price $1087.98 &nbsp;
                  span.new-price &nbsp; $1311.42
                td
                  select.form-control
                    option(selected) 0
                    option 1 
                    option 2
                    option 2
              tr
                td
                  span(data-toggle='tooltip' data-placement='bottom' title='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.') Tarjetas de crédito
                td No cancelable
                td
                  span.reg-price $1513.97
                td
                  select.form-control
                    option(selected) 0
                    option 1
                    option 2    
              tr
                td
                  span(data-toggle='tooltip' data-placement='bottom' title='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')  Tarifa standard
                td.cancel
                  span(data-toggle='tooltip' data-placement='bottom' title='Podes cancelar la reserva hasta 24hs antes del Check In') 
                    |Cancelación gratuita  &nbsp;
                    i.fa.fa-info-circle
                td
                  span.reg-price $2031.23
                td
                  select.form-control
                    option(selected) 0
                    option 1
                    option 2
        div.divider
      //-result #2
      div.media.reg.col-xs-12.col-sm-9.col-md-10.col-lg-9
        img.visible-xs.visible-sm.img-responsive.center-block(src='/images/room/room3.png' alt='Some room')
        div.media-left.media-top.hidden-sm.hidden-xs
          a(href='/images/room/room3.jpg' style='position: relative;')
            img.media-object(src='images/room/room3.png' alt='')
            a.btn.btn-line.btn-img-more(role='button' href='/habitacion' target='_blank')
              |ver habitacion       
              i.fa.fa-search
        div.media-body
          p.media-heading
            a.clean(href='/habitacion' target='_blank')
              span.rm-title Loft Cuadruple 
              span.rm-size (47m²) 
              span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='4 ocupantes')
                i.fa.fa-user &nbsp;
                i.fa.fa-user &nbsp;
                i.fa.fa-user &nbsp;
                i.fa.fa-user
          table.table
            thead
              tr
                th Tarifas
                th Condiciones
                th.hidden-xs Precio por noche
                th.visible-xs Noche
                th Habitacion
            tbody
              tr
                td
                  span(data-toggle='tooltip' data-placement='bottom' title='Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')  Oferta imbatible
                td No cancelable
                td
                  span.old-price $1412.73 &nbsp;
                  span.new-price &nbsp; $1349.42
                td
                  select.form-control
                    option(selected) 0
                    option 1 
                    option 2
                    option 2
              tr
                td
                  span(data-toggle='tooltip' data-placement='bottom' title='Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. ')  Tarjetas de crédito
                td No cancelable
                td
                  span.reg-price $1891.02
                td
                  select.form-control
                    option(selected) 0
                    option 1
                    option 2    
              tr
                td
                  span(data-toggle='tooltip' data-placement='bottom' title='Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. ') Tarifa standard
                td.cancel
                  span(data-toggle='tooltip' data-placement='bottom' title='Podes cancelar la reserva hasta 24hs antes del Check In') 
                    |Cancelación gratuita 
                    i.fa.fa-info-circle
                td
                  span.old-price $2012.19 &nbsp;
                  span.new-price &nbsp; $2145.18
                td
                  select.form-control
                    option(selected) 0
                    option 1
                    option 2
                    
include gallery.jade
//Footer
block scripts
  script(type='text/javascript' src='/javascripts/bootstrap-datepicker.min.js')
  script(type='text/javascript' src='/javascripts/locales/bootstrap-datepicker.es.js' charset='UTF-8')
  script(type='text/javascript' src='/javascripts/datepicker-e.js')
  script(type='text/javascript' src='/javascripts/jquery.blueimp-gallery.min.js')
  script(type='text/javascript' src='/javascripts/bootstrap-image-gallery.min.js')
    
