extends layout

block head
  link(rel='stylesheet', href='/stylesheets/datepicker.css')
  title Habitaciones - HTL Suica Hotel & Resort 
  
block nav
  include nav.jade

block content
  
  div.hidden-xs
    // Search N
    include search_n.jade
  div.visible-xs
    // Search N
    include search.jade
  
  // Section Description
  div.container.content.styleb
    div.row
      div.col-xs-12.pb20
        p.sTitle Habitaciones2
    div.row.grid
      // Room #1  
      div.col-sm-6.col-md-4.media-cont.grid-item
        div.thumbnail.fw-top
          div.top-img
            a(href='/habitacion' style='text-decoration: none;')
              img.img-responsive(src='/images/room/room1.png' alt='Loft Doble')
          div.caption
            a(href='/habitacion' style='text-decoration: none;')
              p
                span.rm-title Loft Doble 
                span.rm-size (38m²) 
                span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='2 ocupantes')
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user  
              p.description Pagando tu estadía con tarjeta de crédito obtén un 20% de descuento en la tarifa. Contacta a nuestro departamento de reservas para solicitar esta promoción.
            div.row.ptb10
              div.col-xs-6
                a.btn.btn-info(href='/habitacion' role='button') Más info     
      // Room #2  
      div.col-sm-6.col-md-4.media-cont.grid-item 
        div.thumbnail.fw-top
          div.top-img
            a(href='/habitacion' style='text-decoration: none;')
              img.img-responsive(src='/images/room/room2.png' alt='Loft Doble')
          div.caption
            a(href='/habitacion' style='text-decoration: none;')
              p
                span.rm-title Loft triple 
                span.rm-size (42m²) 
                span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='3 ocupantes')
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user  
              p.description Loft doble superior con Box Window con vista panorámica a Avenida 9 de Julio + Champagne para el brindis + Petitt Fours + late check out 16 horas. Acreditando fecha de aniversario el paquete es gratuito. Valor adicional a la estadía USD 35. 
            div.row.ptb10
              div.col-xs-6
                a.btn.btn-info(href='/habitacion' role='button') Más info 
      // Room #3  
      div.col-sm-6.col-md-4.media-cont.grid-item 
        div.thumbnail.fw-top
          div.top-img
            a(href='/habitacion' style='text-decoration: none;')
              img.img-responsive(src='/images/room/room3.png' alt='Loft Doble')
          div.caption
            a(href='/habitacion' style='text-decoration: none;')
              p.title Loft Triple Superior
              p.description Ut sodales blandit leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse mollis mattis ex sit amet convallis.
            div.row.ptb10
              div.col-xs-6
                a.btn.btn-info(href='/habitacion' role='button') Más info 
      // Room #4  
      div.col-sm-6.col-md-4.media-cont.grid-item 
        div.thumbnail.fw-top
          div.top-img
            a(href='/habitacion' style='text-decoration: none;')
              img.img-responsive(src='/images/room/room4.png' alt='Loft Doble')
          div.caption
            a(href='/habitacion' style='text-decoration: none;')
              p
                span.rm-title Loft triple 
                span.rm-size (42m²) 
                span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='3 ocupantes')
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user
              p.description Pagando tu estadía con tarjeta de crédito obtén un 20% de descuento en la tarifa. Contacta a nuestro departamento de reservas para solicitar esta promoción.
            //footer with 2 buttons
            div.row.ptb10
              div.col-xs-6
                a.btn.btn-info(href='/habitacion' role='button') Más info 
            
      // Room #5  
      div.col-sm-6.col-md-4.media-cont.grid-item 
        div.thumbnail.fw-top
          div.top-img
            a(href='/habitacion' style='text-decoration: none;')
              img.img-responsive(src='/images/room/room5.png' alt='Loft Doble')
          div.caption
            a(href='/habitacion' style='text-decoration: none;')
              p 
                span.rm-title Loft Doble 
                span.rm-size (38m²) 
                span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='2 ocupantes')
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user
              p.description Loft doble superior con Box Window con vista panorámica a Avenida 9 de Julio + Champagne para el brindis + Petitt Fours + late check out 16 horas. Acreditando fecha de aniversario el paquete es gratuito. Valor adicional a la estadía USD 35. 
            //footer with 1 button
            div.row.ptb10
              div.col-xs-6
                a.btn.btn-info(href='/habitacion' role='button') Más info 
      // Room #5  
      div.col-sm-6.col-md-4.media-cont.grid-item 
        div.thumbnail.fw-top
          div.top-img
            a(href='/habitacion' style='text-decoration: none;')
              img.img-responsive(src='/images/room/room6.png' alt='Loft Doble')
          div.caption
            a(href='/habitacion' style='text-decoration: none;')
              p
                span.rm-title Loft triple 
                span.rm-size (42m²) 
                span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='3 ocupantes')
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user &nbsp;
                  i.fa.fa-user
              p.description Loft doble superior con Box Window con vista panorámica a Avenida 9 de Julio + Champagne para el brindis + Petitt Fours + late check out 16 horas. Acreditando fecha de aniversario el paquete es gratuito. Valor adicional a la estadía USD 35. 
            //footer with 1 button
            div.row.ptb10
              div.col-xs-6
                a.btn.btn-info(href='/habitacion' role='button') Más info 
                
block scripts
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js')
  script(type='text/javascript' src='javascripts/locales/bootstrap-datepicker.es.js' charset='UTF-8')
  script(type='text/javascript' src='javascripts/datepicker-e.js')
  script(type='text/javascript' src='javascripts/masonry.pkgd.min.js')
  script(type='text/javascript' src='javascripts/masonry.js')
