div.container-fluid.img-cover(style='position:relative;') 
  div.shape-para.hidden-xs
  div.shape-para-o.hidden-xs
  div.container
    div.row
      div.col-xs-12.col-sm-5.col-md-4.col-lg-3.search-box
        img.img-price.pull-right.hidden-xs(src='/images/mejor-precio.png' alt='Mejore precio garantizado')
        div.hidden-xs
          h1.title-top RESERVE
          h1.title-sub ONLINE
        div.visible-xs
          h1
            span.title-top RESERVE &nbsp;
            span.title-sub ONLINE
        div.row
          div.col-xs-6.form-group.left.has-feedback
            label(for='date_in') Entrada
            input.form-control#date_in(type='text' name='date_in' placeholder='17/02/2015')
            i.fa.fa-calendar.fa-lg.form-control-feedback(aria-hidden='true')
          div.col-xs-6.form-group.right.has-feedback
            label(for='date_out') Salida
            input.form-control#date_out(type='text' name='date_out' placeholder='17/02/2015')
            i.fa.fa-calendar.fa-lg.form-control-feedback(aria-hidden='true')
          div.clearfix
          div.col-xs-12.form-group
            //-PROMOCODER TRIGGER
            div.checkbox
              label.label-light
                input.promocode-t(type='checkbox')  
                | Tengo un promocode 
                span(data-toggle='tooltip' data-placement='top' title='Los códigos son entregados por el hotel via email')
                  i.fa.fa-info-circle
        div.row
          //-PROMOCODER INPUT
          div.col-xs-6.col-sm-6.form-group.left.promocode-i.mtn20(style='display: none;')
            label(for='promocode')
            input.form-control#promocode(type='text' name='promocode' placeholder='Promocode')
          div.col-xs-12.form-group.right.hidden-xs.col-sm-6.pull-right
            a.btn.btn-info.btn-lg.btn-block(href='/reservas') Buscar
          div.col-xs-12.form-group.visible-xs
            a.btn.btn-info.btn-lg.btn-block(href='/reservas') Buscar
      div.hidden-xs.col-sm-5.col-sm-offset-2.col-md-6.col-md-offset-2.col-lg-7.col-lg-offset-2
        div.box-search
          
