div.container-fluid.bg-search-n
div.container-fluid.search-box-n
  div.container
    div.row
      div.col-sm-12.col-md-12.col-lg-3
        p.title-top.nowrap Reserve
          span.bold  Online
      div.col-sm-6.col-md-4.col-lg-3
        label.col-md-4.pb15-sm(for='date_in') Entrada
        div.col-md-8.has-feedback
          input(type='text' class='form-control' id='date_in' name='date_in' placeholder='17/02/2016')
          i.fa.fa-calendar.fa-lg.form-control-feedback(aria-hidden='true')
      div.col-sm-6.col-md-4.col-lg-3
        label.col-md-4.pb15-sm(for='date_out') Salida
        div.col-md-8.has-feedback
          input(type='text' class='form-control' id='date_out' name='date_out' placeholder='28/02/2016')
          i.fa.fa-calendar.fa-lg.form-control-feedback(aria-hidden='true')
      div.col-sm-6.col-md-2.col-lg-2
        div.col-md-12
          div.dropdown.btn-drop
            button.btn.btn-link.hidden-sm(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              |PROMOCODE
            button.btn.btn-link.visible-sm.pt28(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              |¿Tiene un promocode?
            ul.dropdown-menu(aria-labelledby='Promocodes')
              li.pb10 Los promocodes son entregados por la empresa vía email  
              li
                input(type='text' class='form-control' id='date_out' name='date_out' placeholder='promocode')
      div.col-sm-6.col-md-1.visible-sm.ptb20
        div.col-sm-12
          a.btn.btn-lg.btn-block.btn-warning(href='/reservas') Buscar
      div.col-sm-6.col-md-1.visible-md
        a.btn.btn-lg.btn-warning(href='/reservas') Buscar
      div.visible-lg.col-lg-1
        a.btn.btn-lg.btn-warning.mln25(href='/reservas') Buscar
      div.clearfix
