extends layout

block head
  link(rel='stylesheet', href='/stylesheets/datepicker.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-image-gallery.min.css')
  link(rel='stylesheet', href='//blueimp.github.io/Gallery/css/blueimp-gallery.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  title Servicios - HTL Suica Hotel & Resort 

block content
  
  //Search N
  include search_n.jade
  
  // Section Description
  div.container.content.styleb
    div.row
      div.col-xs-12
        p.sTitle Servicios
        p.description 
          |El hotel cuenta con una amplia gama de servicios que garantizan la comodidad del pasajero.
          |Algunos sólo se encuentran disponibles en algunas habitaciones.
          |Consulte los amenities específicos de su habitacion al momento de realizar la reserva.
  
  // ItemList
  div.container.content
    div.row
      div.col-sm-6
        // Included amenities 
        p.sSubtitleb Incluidos
        br
        dl.item-list
          dt
            i.fa.fa-wifi.fa-lg.icon 
            |WiFi
          dd Conexión Wi Fi sin costo 24 horas en todo el hotel
          br
          dt
            i.fa.fa-television.fa-lg.icon 
            |TV por Cable
          dd TV LCD con cable en todas las habitaciones. Incluye canales nacionale e internacionales.
          br
          dt
            i.fa.fa-coffee.fa-lg.icon 
            |Desayuno
          dd Tipo americano. Se sirve todos los días de 7:00 a.m a 14:00pm.
          br
          dt
            i.fa.fa-suitcase.fa-lg.icon 
            |Guardaequipaje
          dd Servicio de Bellboy las 24 horas tal como lo viste en The Grand Budapest Hotel.
          br
        // optional amenities 
        p.sSubtitleb Opcionales
        br
        dl.item-list
          dt
            i.fa.fa-hand-spock-o.fa-lg.icon 
            |Personal Bilingüe
          dd Interpretes y traductores de todas las lenguas conocidas en la galaxia.
          br
          dt
            i.fa.fa-ambulance.fa-lg.icon 
            |Ambulancia
          dd Unidad equipado con <abbr title='La más alta'>lamasalta</abbr> tecnologia y enfermeros 24/7.
          br
            
      div.col-xs-6.mtb20
        div.gallery
          div.row
            div.col-xs-6.pr7
              a.img-rhh-t(style='background-image: url(images/images/hab4.jpg);' href='/images/images/hab4.jpg' title="Vista de habitacion" data-gallery)
            div.col-xs-6.pl7
              a.img-rhh-b.mt(style='background-image: url(images/images/hab5.jpg);' href='/images/images/hab5.jpg' title="Vista de habitacion" data-gallery)
            div.col-xs-6.pr7.mt15
              a.img-rhh-t(style='background-image: url(images/images/hab6.jpg);'  href='/images/images/hab5.jpg' title="Vista de habitacion" data-gallery)
            div.col-xs-6.pl7.mt15
              a.img-rhh-b.mt(style='background-image: url(images/images/hab7.jpg);' href='/images/images/hab6.jpg' title="Vista de habitacion" data-gallery)
            div.col-xs-6.pl7.more
              a.img-rhh-b(href='/images/images/hab6.jpg' title="Vista de habitacion" data-gallery)
                p.num 5+

  include gallery.jade
  
  block scripts
    script(type='text/javascript' src='//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js')
    script(type='text/javascript' src='javascripts/bootstrap-image-gallery.min.js')
