// top result 
div.media.high.hidden-xs
  div.media-title
    span.fa-stack.fa-lg
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-fire.fa-stack-1x.fa-inverse
    span.txt Esta es la mejor oferta para tu busqueda del 14/04/1912 al 15/04/1912
  div.box-price
    p Subtotal
    p.fPrice
      span.dsign $
      span.price 1234
    a.btn.btn-success.btn-right-double(href='/checkout-s1' role='button') Reservar ahora
  div.media-left.media-top
    a(href='images/room/room1.jpg' title="Vista de habitacion" data-gallery)
      img.media-object(src='images/room/room1.jpg' alt='')
  div.media-body
    p.media-heading
      a.clean(href='/habitacion' target='_blank')
        span.rm-title Loft Doble 
        span.rm-size (38m²) 
        span.rm-ocupant(data-toggle='tooltip' data-placement='top' title='2 ocupantes')
          i.fa.fa-user &nbsp;
          i.fa.fa-user
    p.description-sm
      |Habitaciones de 2 amplias y modernas plantas generan la mejor privacidad para su estadía. 
      |Una planta inferior con un living equipado con los mejores sillones de descanso y una planta superior, con la comodidad de una habitación de hotel. 
      |Además un espacio de trabajo relajado y diferente con la tecnologia necesaria para el nuevo trabajador móvil. 
    div.panel.panel-terms.hidden-sm
      div.panel-body
        p.body-title Condiciones
        ul.list-unstyled
          li - El nombre del titular debe comenzar con la letra D
          li - Debe reservar durante la noche con luna en fase de cuarto creciente.
          li - Vigente del 14/04/1912 23:40 hs al 15/04/1912 a las 2:20 hs.
  div.panel.panel-terms.visible-sm
    div.panel-body
      p.body-title Condiciones
      ul.list-unstyled
        li - El nombre del titular debe comenzar con la letra D
        li - Debe reservar durante la noche con luna en fase de cuarto creciente.
        li - Vigente del 14/04/1912 23:40 hs al 15/04/1912 a las 2:20 hs.
