div.col-sm-3.col-md-2.col-lg-3.pull-right.total(style='margin-top: 30px;')
  div.row
    div.col-xs-12
      p.total-title.visible-lg Detalle de selección
      p.total-title.hidden-lg Su selección
      //- Cantidad de noches
      p.stay 
        span.bold 12 
        | noches
        div.divider-o.hidden-lg.p20
    //- Fechas de entrada y salida
    div.col-xs-6.col-sm-12.col-lg-6.date.in
      p.title Entrada
      p.mb
        span.dName MAR 
        span.dNum 19/12
      p.mb
        span.dHour 14:43 hs
      div.divider-o.hidden-lg.pb5
    div.col-xs-6.col-sm-12.col-lg-6.date.out
      p.title Salida
      p.mb
        span.dName DOM 
        span.dNum 28/02
      p.mb
        span.dHour 23:18 hs
    div.clearfix
    //-Seleccion #1
    div.col-xs-12.section-o
      p.title-r Loft Triple Superior
      ul.list-unstyled.rate-list.hidden-sm.hidden-md
        li 1 oferta especial
          span.pull-right $1.198
        li 1 oferta especial
          span.pull-right $1.528
        li.pull-right.res  
          |subtotal  
          span.sub $2.726
      //Items for small resolutions
      div.visible-sm.visible-md.narrow
        p.item 1 oferta especial <br>
          span.price $1.198
        div.clearfix
        p.item 1 Promo tarjeta de credito <br>
          span.price $1.528S
        p Subtotal 
          span $2726
        
    //-Seleccion #2
    div.col-xs-12.section-o
      p.title-r Loft Doble comun
      ul.list-unstyled.rate-list.hidden-sm
        li 1 oferta imbatitle
          span.pull-right $1.321
        li 2 tarjeta de credito 
          span.pull-right $2.923
        li 2 Tarifa regular
          span.pull-right $4.332
        li.pull-right.res  
          |subtotal  
          span.sub $8.606
          
      //Items for small resolutions
      div.visible-sm.narrow
        p.item 1 oferta imbatitle <br>
          span.price $1.321
        div.clearfix
        p.item 2 tarjeta de credito  <br>
          span.price $2.923
        p.item 2 Tarifa regular <br>
          span.price $4.332
    //-Resultado Final
    div.col-xs-12.section-g
      p.title-r Resumen
      ul.list-unstyled.exp-list
        li 2 Loft Triple Superior
          span.pull-right $2.726
        li 2 Loft Doble Comun
          span.pull-right $8.606
          li.pull-right.res  
            |total  
            span.res-total $11.332
      div.clearfix
      a.btn.btn-info.pull-right(href='/checkout-s1' role='button') Reservar ahora
      div.clearfix
      p.equiv  
        | &nbsp; Correponde a 
        span USD 1923  
        i.fa.fa-info-circle.ptb10(data-toggle='tooltip' data-placement='top' title='El pago se realiza en la moneda que trabaja el hotel') 
