.btn-default {
  color: $main-dark;
  background-color: #fff;
  border-color: $main-dark;
  &:hover {
    background-color: #fff;
    border-color: $main-dark;
    .fa {
      color: red;
    }
  }
  .fa {
    color: $main-dark;
    &:hover {
      color: red;
    }
  }
}

.btn-img-more {
  position: absolute;
  bottom: 14px;
}
.btn-line {
  background: transparentize($black, .5);
  color: $white;
  border: 1px solid $white;
  border-left: none;
  border-bottom: none;
  @include transition (all, 1s, linear, 0.2s);
  .fa {
    color: $white !important;
  }
  &:hover {
    color: $white;
    background: transparentize($black, .2);
  }
}
