.btn-default {
  color: $main-dark;
  background-color: #fff;
  border-color: $main-dark;
  &:hover {
    background-color: #fff;
    border-color: $main-dark;
    .fa {
      color: red;
    }
  }
  .fa {
    color: $main-dark;
    &:hover {
      color: red;
    }
  }
}

.btn-img-more {
  position: absolute;
  bottom: 14px;
}
.btn-line {
  background: transparentize($black, .5);
  color: $white;
  border: 1px solid $white;
  border-left: none;
  border-bottom: none;
  @include transition (all, 1s, linear, 0.2s);
  .fa {
    color: $white !important;
  }
  &:hover {
    color: $white;
    background: transparentize($black, .2);
  }
}
.btn-360 {
  padding: 6px 12px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid;
  @include transition (background-color , 1s, ease-in, 0s);
  .txt {
    padding-right: 5px;
    @include title(18px, 700);
    color: $main-dark;
  }
  &:hover {
    background-color: transparentize($main-dark, .76);
  }
}
