.condensed {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.strike {
  text-decoration: line-through;
}
