//- ================================
//- ======== 375px and less
//- ================================
@media (max-width: 375px) {
  .search-box {
    .title-top {
      letter-spacing: 0 !important;
    }
    .title-sub {
      font-weight: 700;
      letter-spacing: 0 !important;
    }
  }
}

//- ================================
//- ======== 400px and less
//- ================================
@media (max-width: 400px) {
  .search-box {
    .title-top , .title-sub {
      text-transform: uppercase;
    }
  }
}

//- ================================
//- ======== 768px and less
//- ================================
@media (max-width: 768px) {
  .navbar-collapse {
    margin-top: 15px;
  }
  .navbar-right {
    padding-top: 0;
  }
  .search-box {
    .form-group {
      &.left {
        padding-right: 8px;
        .fa {
          right: 7px;
        }
      }
      &.right {
        padding-left: 8px;
        .fa {
          right: 14px;
        }
      }
    }
  }
  .promo {
    .btn-promo {
      font-size: 18px;
      padding: 10px 10px 8px;
      letter-spacing: 0px;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
  .media-cont .thumbnail {
    clear: both;
  }
}

//- ================================
//- ======== 768px and up
//- ================================
@media (min-width: 768px) and (max-width: 992px){
  .navbar {
    @include border-radius (0,0);
  }
  .navbar-default .navbar-nav>li>a, {
    text-transform: uppercase;
    font-weight: 300;
    padding:10px 12px;
    &:hover {
      color: $orange;
    }
  }
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu{
    margin-top: 0;
  }
  .dropdown-toggle{
    margin-bottom: 2px;
  }
  .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
    margin-bottom: 0;
  }
  .search-box {
    .form-group {
      &.left {
        padding-right: 8px;
        .fa {
          right: 7px;
        }
      }
      &.right {
        padding-left: 8px;
        .fa {
          right: 14px;
        }
      }
    }
  }
  .search-box-n {
    .form-inline .form-control {
      display: inline-block;
      width: 80%;
      vertical-align: middle;
    }
  }
  .shape-para {
    width: 60%;
    left: -9%;
  }
  .shape-para-o {
    width: 60%;
    left: -10%;
  }
  .media-cont {
    .thumbnail {
      &.fw-top {
        .caption {
          margin-top: -11px;
          color: green;
          &.to {
            margin-top: -46px;
          }
        }
      }
    }
  }
  .gallery {
    .img-fh {
      height: 426px;
    }
    .img-rhh-t, .img-rhh-t2, .img-rhh-b {
      height: 205.5px !important;
      color: yellow;
    }
    .more {
      margin-top: -221px;
    }
  }
}

//- ================================
//- ======== 992px and up
//- ================================
@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-default .navbar-nav>li>a, {
    text-transform: uppercase;
    font-weight: 300;
    padding:10px 12px;
      &:hover {
        color: $orange;
      }
    }
    .shape-para {
      width: 50%;
      left: -9%;
    }
    .shape-para-o {
      width: 50%;
      left: -10%;
    }
    .masonry-init {
      min-height: 203px;
    }
    //- Only for /promotions
    .media-cont {
      .thumbnail {
        &.fw-top {
          .caption {
            margin-top: -50px;
            color: red;
            &.to {
              margin-top: -85px;
            }
          }
        }
      }
    }
    .gallery {
      .img-fh {
        height: 426px;
      }
      .img-rhh-t, .img-rhh-t2, .img-rhh-b {
        height: 205.5px !important;
        color: red;
      }
      .more {
        margin-top: -221px;
      }
    }
 }
//- ================================
//- ======== 1200px and less
//- ================================
@media (max-width: 1200px) {
  .navbar-default .navbar-nav>li>a, {
    text-transform: uppercase;
    font-weight: 300;
    padding:10px 3px;
      &:hover {
        color: red;
      }
    }
 }
//- ================================
//- ======== 1200px and more
//- ================================
@media (min-width: 1200px) {
  .shape-para {
    width: 45%;
    left: -11%;
  }
  .shape-para-o {
    width: 45%;
    left: -12%;
  }
  //- Only for /promotions
  .media-cont {
    .thumbnail {
      &.fw-top {
        .caption {
          margin-top: 0;
          color: red !important;
        }
      }
    }
  }
  .gallery {
    .img-fh {
      height: 500px;
    }
    .img-rhh-t, .img-rhh-t2, .img-rhh-b {
      height: 242.5px;
      color: green;
    }
    .more {
      margin-top: -257px;
    }
  }
 }

 //- ================================
 //- ======== 1320px and up
 //- ================================
@media (min-width: 1320px) {
  .search-box {
    .form-group {
      &.left {
        padding-right: 8px;
        .fa {
          right: 7px;
        }
      }
      &.right {
        padding-left: 8px;
        .fa {
          right: 14px;
        }
      }
    }
  }
}

//- ================================
//- ======== 1420px and up
//- ================================
@media (min-width: 1420px) {
  .shape-para {
  	width: 50%;
    left: -9%;
  }
  .shape-para-o {
  	width: 50%;
    left: -10%;
  }
}
