//- ================================
//- ======== 375px and less
//- ================================
@media (max-width: 319px) {
  .gallery , .media-cont {
    display: none !important;
  }
  .resolution-message {
    display: block;
  }
}
@media (max-width: 375px) {
  .search-box {
    .title-top {
      letter-spacing: 0 !important;
    }
    .title-sub {
      font-weight: 700;
      letter-spacing: 0 !important;
    }
  }
}

//- ================================
//- ======== 400px and less
//- ================================
@media (max-width: 400px) {
  .search-box {
    .title-top , .title-sub {
      text-transform: uppercase;
    }
  }
}
//- ================================
//- ======== Between 320px and 407px
//- ================================
@media (min-width: 320px) and (max-width: 407px) {
  .media-cont {
    .thumbnail {
      clear: both;
      &.fw-top {
        .caption {
          border: none;
          margin-top: -11px;
          &.to {
            margin-top: -60px;
          }
          .title-over {
            margin: 1px -11px 9px;
            display: none;
          }
          // Title Over replace
          .title-over-r {
            display: block;
          }
        }
      }
      .caption {
        .validity {
          text-align: left;
          margin-bottom: 10px;
        }
      }
    }
  }
}
//- ================================
//- ======== Between 320px and 407px
//- ================================
@media (min-width: 360px) and (max-width: 407px) {
  .media-cont {
    .thumbnail {
      clear: both;
      &.fw-top {
        .caption {
          border: none;
          margin-top: -11px;
          &.to {
            margin-top: 0 !important;
          }
          .title-over {
            margin: 1px -11px 9px;
            color: navy;
            display: none;
          }
          // Title Over replace
          .title-over-r {
            display: block;
          }
        }
      }
    }
  }
}


//- ================================
//- ======== Between 320px and 489px
//- ================================
@media (min-width: 320px) and (max-width: 489px) {
  .gallery {
    .img-fh {
      height: 246px !important;
    }
    .img-rhh-t, .img-rhh-t2, .img-rhh-b {
      height: 115.5px !important;
    }
    .more {
      margin-top: -131px !important;
      .num {
        padding-top: 35px !important;
      }
    }
  }
}
//- ================================
//- ======== Between 320px and 379px
//- ================================
@media (min-width: 320px) and (max-width: 379px) {
  .gallery {
    .img-fh {
      background-size: 285% !important;
      color: red !important;
    }
  }
}
//- ================================
//- ======== Between 380px and 479px
//- ================================
@media (min-width: 380px) and (max-width: 479px) {
  .gallery {
    .img-fh {
      background-size: 230% !important;
      color: green !important;
    }
  }
}
//- ================================
//- ======== Between 480px and 666px (This is for you Satan!)
//- ================================
@media (min-width: 490px) and (max-width: 666px) {
  .search-box {
    .title-top , .title-sub {
      text-transform: uppercase;
    }
  }
  .gallery {
    .img-fh {
      height: 418px !important;
      background-size: 280% !important;
    }
    .img-rhh-t, .img-rhh-t2, .img-rhh-b {
      height: 201.5px !important;
    }
    .more {
      margin-top: -217px !important;
      .num {
        padding-top: 80px !important;
      }
    }
  }
}
@media (min-width: 667px) and (max-width: 767px) {
  .gallery {
    .img-fh {
      height: 595px;
      background-size: 285%;
    }
    .img-rhh-t, .img-rhh-t2, .img-rhh-b {
      height: 290.5px;
    }
    .more {
      margin-top: -305px;
      .num {
        padding-top: 110px;
      }
    }
  }
}

//- ================================
//- ======== 465px and less
//- ================================
@media (max-width: 465px) {
  .btn-img-more-r {
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
    position: absolute;
    top: 0;
    bottom: 287px !important;
    right: 15px;
    border-right: none;
    border-top: none;
  }
  .hidden-xxs {
    display: none;
  }
}
//- ================================
//- ======== 768px and less
//- ================================
@media (max-width: 768px) {
  .navbar-collapse {
    margin-top: 15px;
  }
  .navbar-right {
    padding-top: 0;
  }
  .search-box {
    .form-group {
      &.left {
        padding-right: 8px;
        .fa {
          right: 7px;
        }
      }
      &.right {
        padding-left: 8px;
        .fa {
          right: 14px;
        }
      }
    }
  }
  .promo {
    .btn-promo {
      font-size: 18px;
      padding: 10px 10px 8px;
      letter-spacing: 0px;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
  .media-cont {
    .thumbnail {
      clear: both;
      &.fw-top {
        .caption {
          margin-top: -11px;
          &.to {
            margin-top: -46px;
          }
          .title-over {
            margin: 1px -11px 9px;
          }
        }
      }
    }
  }
  //- == XS Paddings
  .mb30-xs {
    padding-bottom: 30px;
  }
  .pt30-xs {
    padding-top: 30px;
  }


  .btn-360 {
    margin-bottom: 5px;
  }
  .btn-img-more-r {
    bottom: 40px;
  }
  .gallery {
    .img-top-room {
      height: 300px;
      color: green;
    }
  }
}

//- ================================
//- ======== 768px and up
//- ================================
@media (min-width: 768px) {
  .onhover:hover .onhover-menu {
    display: block;
  }
  .onhover-menu {
    margin-top: 0;
  }
  .dropdown-toggle {
    margin-bottom: 2px;
  }
  .navbar .dropdown-toggle {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .navbar-default .navbar-nav>li>a {
    font-size: 15px;
    padding: 10px 6px;
  }
  .search-box {
    .form-group {
      &.left {
        padding-right: 8px;
        .fa {
          right: 7px;
        }
      }
      &.right {
        padding-left: 8px;
        .fa {
          right: 14px;
        }
      }
    }
  }
  .search-box-n {
    .form-inline .form-control {
      display: inline-block;
      width: 80%;
      vertical-align: middle;
    }
  }
  .shape-para {
    width: 60%;
    left: -9%;
  }
  .shape-para-o {
    width: 60%;
    left: -10%;
  }
  .media-cont {
    .thumbnail {
      &.fw-top {
        .caption {
          margin-top: -11px;
          &.to {
            margin-top: -46px;
          }
          .title-over {
            margin: -10px -11px 9px;
          }
        }
      }
    }
  }
  .gallery {
    .img-fh {
      height: 320px;
      background-size: 290%;
    }
    .img-rhh-t, .img-rhh-t2, .img-rhh-b {
      height: 152.5px;
    }
    .img-top-room {
      height: 203px;
      color: green;
    }
    .more {
      margin-top: -168px;
      .num {
        padding-top: 50px;
      }
    }
  }
  .btn-360 {
    margin-bottom: 5px;
  }
  .btn-img-more-r {
    bottom: 40px;
  }
  .bg-search-n {
    min-height: 258px;
  }
  .search-box-n {
    top: -196px;
    margin-bottom: -196px;
    padding: 11px 0 20px;
    .title-top {
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
  }
  .pb15-sm {
    padding-bottom: 15px;
  }
  .media {
    .media-object {
      color: green;
    }
  }
  .total {
    font-family: 'Roboto Condensed', sans-serif !important;
  }
}

//- ================================
//- ======== 992px and up
//- ================================
@media (min-width: 992px) {
  .btn-360 {
    margin-bottom: 20px;
  }
  .btn-img-more-r {
    bottom: 40px;
  }
}
//- ================================
//- ======== 992px and up
//- ================================
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-default .navbar-nav>li>a {
      font-size: 15px;
      padding: 10px 6px;
    }
    .search-box-n {
      top: -80px;
      margin-bottom: -80px;
      padding: 11px 0 20px;
      .title-top {
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }
    }
    .shape-para {
      width: 50%;
      left: -9%;
    }
    .shape-para-o {
      width: 50%;
      left: -10%;
    }
    .masonry-init {
      min-height: 203px;
    }
    //- Only for /promotions
    .media-cont {
      .thumbnail {
        &.fw-top {
          .caption {
            margin-top: -50px;
            &.to {
              margin-top: -85px;
            }
            .title-over {
              margin: -10px -11px 9px;
            }
          }
        }
      }
    }
    .gallery {
      .img-fh {
        height: 426px;
        background-size: 280%;
      }
      .img-rhh-t, .img-rhh-t2, .img-rhh-b {
        height: 205.5px;
      }
      .img-top-room {
        height: 260px;
      }
      .more {
        margin-top: -221px;
        .num {
          padding-top: 75px;
        }
      }
    }
    .bg-search-n {
      min-height: 142px;
    }
    .media {
      .media-object {
        width: 230px;
      }
    }
    .total {
      .total-title {
        @include title(18px,500);
      }
      .stay {
        font-size: 20px;
      }
      .date {
        margin-top: 0;
        .title {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 0px;
        }
      }
      .section-o {
        .title-r {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
 }
//- ================================
//- ======== 1200px and more
//- ================================
@media (min-width: 1200px) {
  .search-box-n {
    top: 0;
    margin: 0 0 5px;
    padding: 11px 0 0px;
  }
  .shape-para {
    width: 45%;
    left: -11%;
  }
  .shape-para-o {
    width: 45%;
    left: -12%;
  }
  //- Only for /promotions
  .media-cont {
    .thumbnail {
      &.fw-top {
        .caption {
          margin-top: 0;
          .title-over {
            margin: 40px -11px 9px;
          }
        }
      }
    }
  }
  .bg-search-n {
    min-height: 210px;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 17px;
    padding: 10px;
  }
  .gallery {
    .img-fh {
      height: 500px;
      background-size: 265%;
    }
    .img-rhh-t, .img-rhh-t2, .img-rhh-b {
      height: 242.5px;
    }
    .img-top-room {
      height: 260px;
    }
    .more {
      margin-top: -257px;
      .num {
        padding-top: 85px;
      }
    }
  }
  // For images in results
  .media {
    .media-object {
      width: 258px;
    }
  }
  .total {
    .total-title {
      @include title(16px,700);
    }
    .date {
      margin-top: -10px;
    }
    .section-o {
      .title-r {
        font-size: 16px;
        line-height: inherit;
      }
    }
  }
}

 @media (min-width: 1201px) {
   .media-cont {
     .thumbnail {
       &.fw-top {
         .caption {
           margin-top: 0;
           .title-over {
             margin: -10px -11px 9px;
           }
         }
       }
     }
   }
 }

 //- ================================
 //- ======== 1320px and up
 //- ================================
@media (min-width: 1320px) {
  .search-box {
    .form-group {
      &.left {
        padding-right: 8px;
        .fa {
          right: 7px;
        }
      }
      &.right {
        padding-left: 8px;
        .fa {
          right: 14px;
        }
      }
    }
  }
}

//- ================================
//- ======== 1420px and up
//- ================================
@media (min-width: 1420px) {
  .shape-para {
  	width: 50%;
    left: -9%;
  }
  .shape-para-o {
  	width: 50%;
    left: -10%;
  }
}
