.media-cont {
  margin-bottom: 15px;
  position: relative;
  .thumbnail {
    position: relative;
    padding: 10px;
    -webkit-transition: all .5s;
    transition: all .5s;
    @include border-radius (0);
    &:hover {
      @include bshadow(0,0, 8px, $mid-grey);
    }
    //full-width image top. Used for promotions landing
    &.fw-top {
      padding: 0;
      border: none;
      .top-media-img {
        height: 230px;
        overflow: hidden;
        img {
          position: relative;
          top: -40px;
        }
      }
      .caption {
        padding: 10px;
        border: 1px solid transparentize(#0965ff, .4);
        border-top: none;
        // For title-over images
        &.to {
          margin-top: -35px;
        }
        .title-over {
          @extend .subtitle;
          z-index: 2000 !important;
          color: $white;
          padding: 5px 10px;
          position: relative;
          background-color: transparentize(#0965ff, .4);
        }
        .title-over-r {
          display: none;
        }
      }
    }
    .caption {
      padding: 10px 0 0;
      font-size: 17px;
      font-weight:500;
      color: $min-grey;

      .rm-title {
        margin-top: 0;
        color: $brand-info;
      }
      .rm-ocupant,
      .rm-size {
        color: $min-grey;
      }
      .rm-size {
        color: $min-grey;
      }
      .ftitle {
        margin-bottom: 10px;
        text-decoration: none;
        display: block;

        .rm-size {
          @extend .rm-size;
        }
        .rm-ocupant {
          color: $min-grey;
        }
        .rm-description {
          font-weight: 300;
          color: $mid-grey;
        }
      }
      // Promotions
      .description {
        @include title(15px, 300);
        color: $main-dark;
      }
      .validity {
        @include title(13px, 300);
        color: lighten($main, 15%);
        text-align: right;
        margin-bottom: 5px;
      }
      .conditions {
        @include title(13px, 300);
        color: $green;
        line-height: 14px;
        letter-spacing: 0;
      }
      .btn-right-single {
        position: relative;
        float: right;;
        margin-bottom: 0px;
      }
      .btn-left-double {
        float: right;
        margin-right: 5px;
      }
      .btn-right-double {
        float: right;
        position: relative;
        right: 15px;
      }
      .btn-group.open .dropdown-toggle {
        box-shadow: none;
      }
      .social-menu {
        .fa-facebook-square {
          color: #3b5998;
        }
        .fa-twitter-square {
          color:#55acee;
        }
        .fa-whatsapp {
          color: #43d854;
        }
        .fa-google-plus-square {
          color:#dc4e41;
        }
      }
      .btn-share {
        font-weight: 300;
        text-decoration: none;
        color: $mid-grey;
        background: none;
        border: none;
        &.open {
          background: none;
          color: red;
        }
      }
    }
  }
}
