//- ================================
//- ======== 375px and less
//- ================================
@media (max-width: 375px) {
  .search-box {
    .title-top {
      letter-spacing: 0 !important;
    }
    .title-sub {
      font-weight: 700;
      letter-spacing: 0 !important;
    }
  }
}

//- ================================
//- ======== 400px and less
//- ================================
@media (max-width: 400px) {
  .search-box {
    .title-top {
      letter-spacing: 2px;
      color: red;
    }
    .title-sub {
      letter-spacing: 2px;
    }
  }
}

//- ================================
//- ======== 768px and less
//- ================================
@media (max-width: 768px) {
  .navbar-collapse {
    margin-top: 15px;
  }
  .navbar-right {
    padding-top: 0;
  }
  .search-box {
    .form-group {
      &.left {
        padding-right: 8px;
        .fa {
          right: 7px;
        }
      }
      &.right {
        padding-left: 8px;
        .fa {
          color: red;
          right: 14px;
        }
      }
    }
  }
}

//- ================================
//- ======== 768px and up
//- ================================
@media (min-width: 768px) {
  .navbar {
    @include border-radius (0,0);
  }
  .navbar-default .navbar-nav>li>a, {
    text-transform: uppercase;
    font-weight: 300;
    padding:10px 12px;
    &:hover {
      color: $orange;
    }
  }
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu{
    margin-top: 0;
  }
  .dropdown-toggle{
    margin-bottom: 2px;
  }
  .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
    margin-bottom: 0;
  }
  .search-box {
    .form-group {
      &.left {
        padding-right: 8px;
        .fa {
          right: 7px;
        }
      }
      &.right {
        padding-left: 8px;
        .fa {
          right: 14px;
        }
      }
    }
  }
  .search-box-n {
    .form-inline .form-control {
      display: inline-block;
      width: 80%;
      vertical-align: middle;
    }
  }
}

//- ================================
//- ======== 992px and up
//- ================================
@media (min-width: 992px) {
  .navbar-default .navbar-nav>li>a, {
    text-transform: uppercase;
    font-weight: 300;
    padding:10px 12px;
      &:hover {
        color: $orange;
      }
    }
 }

 //- ================================
 //- ======== 1320px and up
 //- ================================
@media (min-width: 1320px) {
  .search-box {
    .form-group {
      &.left {
        padding-right: 8px;
        .fa {
          right: 7px;
        }
      }
      &.right {
        padding-left: 8px;
        .fa {
          right: 14px;
        }
      }
    }
  }
}

//- ================================
//- ======== 1420px and up
//- ================================
@media (min-width: 1420px) {
  .shape-para {
  	width: 50%;
    position: absolute;
  	height: 100%;
    left: -9%;
    min-height: 100%;
    z-index: 0;
  	-webkit-transform: skew(-12deg);
  	   -moz-transform: skew(-12deg);
  	     -o-transform: skew(-12deg);
  	background: transparentize($main-light, .3);
  }
  .shape-para-o {
  	width: 50%;
    position: absolute;
  	height: 100%;
    left: -10%;
    min-height: 100%;
  	-webkit-transform: skew(-12deg);
  	   -moz-transform: skew(-12deg);
  	     -o-transform: skew(-12deg);
  	background: $main-light;
  }
}
