.media {
  // because i got high, because i got high, because i got high :D
  &.high {
    border: 1px solid $green;
    padding: 15px 15px 0;
    overflow: visible;
    margin-top: 20px;
    margin-bottom: 10px;

    .media-title {
      background: $green;
      margin: -15px -15px 15px;
      padding: 5px 15px 5px;
      position: relative;
      color: $white;
      @include title(16px, 500);
      .txt {
        padding-left: 50px;
      }
    }
    .fa-stack {
      position: absolute;
      top: -11px;
      left: 10px;
      .fa-stack-2x {
        color: green;
        font-size: 2.5em;
      }
      .fa-stack-1x {
        color: $white;
        top: 3px;
        left: 2px;
      }
    }
  }
  &.reg {
    border: none;
    padding: 15px 15px 0;
    overflow: visible;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .media-left {
    padding-right: 15px;
  }
  .box-price {
    float: right;
    @include title(15px, 300);
    color: $min-grey;
    text-align: center;
    padding-left: 15px;
    .fPrice {
      position: relative;
      bottom: 10px;
      margin-bottom: -8px;
      .dsign ,  .price {
        color: $orange;
      }
      .dsign  {
        @include title(21px,400);
        position: relative;
        bottom: 3px;
      }
      .price {
        @include title(34px,700);
      }
    }
  }
  .media-body {
    .media-heading {
      @include title(20px, 400);
      letter-spacing: 1px;
      .rm-title {
        color: $main-dark;
      }
      .rm-size {
        color: $min-grey;
      }
    }
    .old-price {
      text-decoration: line-through;
      font-weight: 300;
    }
    .new-price {
      font-weight: 700;
    }
    .reg-price {
      font-weight: 500;
    }
    .table tr td {
      vertical-align: middle;
      padding: 5px;
    }
    .table {
      margin-top: 13px;
      margin-bottom: 10px;
      thead {
        background-color: $thead;
        color: $white;
        @include title(16px, 400);
        border-bottom: none;
      }
      tr {
        th {
          border: none;
        }
        td {
          select.form-control {
            height: 28px;
          }
          &.cancel, .fa-info-circle {
            color: $green;
          }
        }
      }
    }
  }
}
