//- ================================
//- ======== PADDING TOP
//- ================================
.pt5 {
  padding-top: 5px;
}
.pt15 {
  padding-top: 15px;
}
.pt24 {
  padding-top: 24px;
}
.pt30 {
  padding-top: 30px;
}
//- ================================
//- ======== PADDING RIGHT
//- ================================
.pr {
  padding-right: 0;
}
.pr7 {
  padding-right: 7.5px;
}
.pr15 {
  padding-right: 15px;
}
.pr30 {
  padding-right: 30px;
}

//- ================================
//- ======== PADDING BOTTOM
//- ================================
.pb20 {
  padding-bottom: 20px;
}

//- ================================
//- ======== PADDING LEFT
//- ================================
.pl {
  padding-left: 0;
}
.pl7 {
  padding-left: 7.5px;
}

//- ================================
//- ======== PADDING TOP-BOTTOM
//- ================================
.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ptb20 {
  padding-top: 20px;
  padding-bottom: 10px;
}
