@mixin bg-size ($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}
@mixin title ($fs, $fw) {
  font-size: $fs;
  font-weight: $fw;
}

@mixin bshadow ($x, $y, $b, $c) {
  -webkit-box-shadow: $x $y $b $c;
  -moz-box-shadow: $x $y $b $c;
  box-shadow: $x $y $b $c;
}
@mixin tshadow ($x, $y, $b, $c) {
  -webkit-text-shadow: $x $y $b $c;
  -moz-text-shadow: $x $y $b $c;
  text-shadow: $x $y $b $c;
}
@mixin border-radius($v,$v2: $v) {
  -webkit-border-radius: $v $v2;
  -moz-border-radius: $v $v;
  border-radius: $v $v;
}
//p = property | d = durartion | f = function | dl = delay
@mixin transition($p , $d , $f, $dl) {
  -webkit-transition: $p $d $f $dl;
  -moz-transition: $p $d $f $dl;
  -o-transition: $p $d $f $dl;
  transition: $p $d $f $dl;
}
@mixin filter-grayscale {
  -webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@mixin filter-grayscale-h {
  -webkit-filter: grayscale(0);
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
