/*
 * Elara template  by Damian Palacios
 * v0.0.1
 * for Div It
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
@import "color";
@import "_bootstrap.scss";
@import "mixins";
@import "fonts";
@import "nav";
@import "paddings";
@import "margins";
@import "bubble";
@import "buttons";
@import "footer";
@import "media-queries";

$img_path : '../images/';

// 1 - Global
.clean {
  &:hover {
    text-decoration: none;
  }
}
.exp-list {
  li {
    padding-bottom: 5px;
  }
}
.exp-list-l {
  li {
    padding-bottom: 10px;
  }
}
// For text coodition
.tx-cond {
  font-size: 12px;
  color: $green;
}

.fa-white {
  color: $white !important;
}
.fa-main-dark {
  color: $main-dark !important;
}

select {
  color: $min-grey !important;
  &:disabled {
    //color: red !important;
  }
  option[default] {
    //color: red !important;
  }
}
.nowrap {
  white-space: nowrap;
}
.p-fix {
  position: relative;
  top: 7px;
}
//=================================================
// Search (large)
//=================================================
.search-box {
  height: 290px;
  background-color: lighten($orange, 8%);
  margin: 20px 0;
  color: $white;
  .title-top {
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 10px;
    letter-spacing: 3px;
  }
  .title-sub {
    margin-top: 0;
    font-weight: 900;
    letter-spacing: 3px;
  }
  .img-price {
    position: relative;
    right: 0;
    top: 15px;
    width: 85px;
  }
  label {
    font-size: 18px;
    font-weight: 400;
  }
  .label-light {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: $mid-grey;
  }
  .form-group {
    &.left {
      padding-right: 8px;
      .fa {
        right: 7px;
      }
    }
    &.right {
      padding-left: 8px;
      .fa {
        right: 14px;
      }
    }
  }
  .form-control {
    height: 40px !important;
    padding: 6px 0 6px 8px;
    letter-spacing: 0px;
    font-size: 15px;
  }
  .has-feedback .form-control {
    padding-right: 27.5px;
  }
  .fa-calendar{
    color: $min-grey;
    top: 44px !important;
  }
  .fa-info {
    color: $white;
  }
  .btn {
    border-radius: 5px;
    border-bottom: 4px solid $btn-info-border;
    &:hover {
      border-bottom: 4px solid darken($btn-info-border, 15%);
    }
  }
  .btn-lg {
    padding: 6px 16px;
  }
  .checkbox {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

// Search (normal)
.search-box-n {
  background: transparentize($main-dark, .313);
  margin: 0 0 5px;
  padding: 11px 0 0px;
  color: $white;
  position: relative;
  top: 0;
  //#Note: fix to top
  &.ftt {
    margin-top: -17px !important;
  }
  .title-top {
    text-shadow: 1px 1px 0 #000;
    white-space: nowrap;
    font-size: 30px;
    text-transform: uppercase;
  }
  .form-control {
    height: 40px !important;
  }
  label {
    font-size: 18px;
    text-align: right;
    top: 8px;
  }
  .has-feedback .form-control-feedback {
    color: $min-grey;
    top: 14px;
    right: 20px;
  }
  .btn-lg {
    padding: 7px 16px 8px !important;
  }
}
// Mercado Pago - Pago con tarjetas del home
.mp-box {
  @include bshadow(0, 2px, 1px, $mid-grey);
  padding-top: 15px;
  padding-bottom: 5px;
  .info {
    @include title (16px, 300);
  }
}

//  Description
.content {

  //This one applies only to divs with class "container"
  &.styleb {
    padding-top: 35px;
    padding-bottom: 15px;
    color: $main-dark;
  }
  .title {
    margin-top: 0;
    @include title(24px,700);
  }
  .subtitle {
    @include title(18px,500);
  }
  .subtitle2 {
    @include title(18px,300);
  }
  .subtitle3 {
    @include title(14px,500);
  }
  .description {
    @include title(16px,300);
  }
  .description-sm {
    @include title(14px,300);
  }
  //For sections
  .sTitle {
    @include title(24px,400);
    color: $main-dark;
  }
  .sSubtitle {
    @extend .description;
    color: $mid-grey;
    &.last {
      padding-top: 20px;
    }
  }
  .sSubtitleb {
    @extend .subtitle;
    color: $main-dark;
  }

  // For font-awesome icons
  .fa {
    color: $min-grey;
    &.org {
      color: orange;
    }
    &.icon {
      width: 30px;
      padding-bottom: 15px;
    }
  }
  .form-horizontal {
    margin-top: 20px;
    &.contact-form {
      .fa-calendar {
        color: $min-grey !important;
      }
    }
    .form-group {
      margin-bottom: 30px;
    }
    .form-control {
      height: 40px;
    }
    textarea.form-control {
      height: auto !important;
    }
    .has-feedback .form-control {
      padding-right: 36.5px;
    }
    .has-feedback {
       .fa {
         color: $mid-grey;
         top: 14px;
       }
     }
     .btn {
        padding: 12px 18px;
     }
  }
  .schedules {
    li {
      font-weight: 500;
      padding-top: 10px;
      &:first-child {
        padding-top: 0;
      }
      span {
        font-weight: 300;
      }
    }
  }
  .top-img {
    height: 260px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 30px;
    img {
      position: relative;
      top: -40px;
    }
  }
  // Made for services
  .item-list {
    margin-bottom: 40px;
    dt {
      @include title(16px, 500);
    }
    dd {
      color: $main-dark;
      padding-left: 33px;
    }
    .icon {
      padding-bottom: 10px !important;
      width: 34px !important;
      color: $mid-grey;
      position: relative;
      top: -2px;
    }
  }
  .gallery {
    &.o {
      background: none;
      padding: 0;
    }
    background: $main-bg-dark-trans;
    padding: 15px;
    .left {
      padding: 0 7.5px 0 0;
      margin-bottom: 15px;
      &.last {
        margin-bottom: 0;
      }
    }
    .right {
      padding: 0 0 0 7.5px;
    }
    //img left full height
    .img-fh {
      background: transparentize($main-dark, .88);
      width: 100%;
      display: block;
      overflow: hidden;
      height: 500px !important;
      background-position: 0% 0%;
      background-repeat: no-repeat;
      cursor: zoom-in;
      @include transition (all, 2.5s, linear, 0.4s);
      &:hover {
        @include bshadow(0,0, 8px, $main);
        background-position: 50% 0%;
      }
    }
    //img right half height bottotm
    .img-rhh-t {
      @include img-box-square;
      &:hover {
        @include bshadow(0,0, 8px, $main);
        background-position: 50% 0%;
      }
    }
    .img-rhh-t2 {
      @include img-box-square;
      &:hover {
        @include bshadow(0,0, 8px, $main);
      }
    }
    //img right half height bottotm
    .img-rhh-b {
      @include img-box-square;
      margin-top:15px;
      &.mt {
        margin-top: 0 !important;
      }
      &:hover {
        @include bshadow(0,0, 8px, $main);
        background-position: 50% 0%;
      }
    }
    .more {
      position: relative;
      margin-top: -257px;
      float: right;
      .img-rhh-b {
        cursor: zoom-in;
        background-color: transparentize($main-dark, .5);
        &:hover {
          text-decoration: none;
        }
        .num {
          color: white;
          text-align: center;
          font-size: 36px;
          padding-top: 85px;
        }
      }
    }
  }
  // Made for results | checkout-s1 | checkout-s2
  .total-voucher {
    background: $main-bg-dark-trans;
    padding: 15px;
    .exp-list {
      font-size: 18px;
      .last {
        font-size: 13px;
        padding-bottom: 0;
        margin-bottom: -10px;
      }
    }
    .res {
      padding-bottom: 0;
      margin-bottom: -5px;
      .res-total {
        font-size: 34px;
        color: $orange;
        font-weight: bold;
      }
    }
    &.conditions {
      font-size: 12px;
    }
  }
  .total {
    //margin-top: 35px;
    background: $white;
    border: 1px solid $orange;
    .title {
      color: $white;
      background: $orange;
      @include title(16px,500);
      margin: 0 -15px;
      padding: 8px 15px;
    }
    .stay {
      padding-top: 15px;
    }
    .stay, .date .title, .date .dName {
      color: $mid-grey;
    }
    .date {
      margin-top: -10px;
      margin-bottom:  10px;
      .title {
        background: none;
        @include title(14px, 300);
        margin-bottom: -7px;
      }
      .dName, .dNum, .dHour {
        text-transform: uppercase;
        @include title(20px, 500);
        color: $mid-grey;
      }
      .dName, .dHour {
        color: $mid-grey;
      }
      .dNum {
        color: $min-grey;
      }
      .dHour {
        position: relative;
        top: -5px;
      }
    }
  .section-o {
    border-top: 1px solid $orange;
    .title-r {
        color:$orange;
        padding-top: 10px;
        @include title(16px, 500);
      }
      .rate-list {
        color: $mid-grey;
        li {
          padding-bottom: 5px;
        }
      }
    } //end section

    .section-g {
      background-color: transparentize($orange, .8);
      border: none;
      .title-r {
        color: $grey;
        padding-top: 10px;
        @include title(16px, 500);
      }
      .equiv {
        font-size: 12px !important;
        text-align: right;
        color: $mid-grey;
      }
    } //end section

    .res {
      padding: 10px 0 15px;
      .sub {
        font-size: 20px;
        color: $mid-grey;
      }
      .res-total {
        font-size: 20px;
        color: $black;
      }
    }
  }
  .media {
    // because i got high, because i got high, because i got high :D
    &.high {
      border: 1px solid $green;
      padding: 15px 15px 0;
      overflow: visible;
      margin-top: 20px;
      margin-bottom: 10px;

      .media-title {
        background: $green;
        margin: -15px -15px 15px;
        padding: 5px 15px 5px;
        position: relative;
        color: $white;
        @include title(16px, 500);
        .txt {
          padding-left: 50px;
        }
      }
      .fa-stack {
        position: absolute;
        top: -11px;
        left: 10px;
        .fa-stack-2x {
          color: green;
          font-size: 2.5em;
        }
        .fa-stack-1x {
          color: $white;
          top: 3px;
          left: 2px;
        }
      }
    }
    &.reg {
      border: none;
      padding: 15px 15px 0;
      overflow: visible;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .media-left {
      padding-right: 15px;
    }
    .box-price {
      float: right;
      @include title(15px, 300);
      color: $min-grey;
      text-align: center;
      padding-left: 15px;
      .fPrice {
        position: relative;
        bottom: 10px;
        margin-bottom: -8px;
        .dsign ,  .price {
          color: $orange;
        }
        .dsign  {
          @include title(21px,400);
          position: relative;
          bottom: 3px;
        }
        .price {
          @include title(34px,700);
        }
      }
    }
    .media-object {
      width: 258px;
    }
    .media-body {
      .media-heading {
        @include title(20px, 400);
        letter-spacing: 1px;
        .rm-title {
          color: $main-dark;
        }
        .rm-size {
          color: $min-grey;
        }
      }
      .old-price {
        text-decoration: line-through;
        font-weight: 300;
      }
      .new-price {
        font-weight: 700;
      }
      .reg-price {
        font-weight: 500;
      }
      .table tr td {
        vertical-align: middle;
        padding: 5px;
      }
      .table {
        margin-top: 13px;
        margin-bottom: 10px;
        thead {
          background-color: $thead;
          color: $white;
          @include title(16px, 400);
          border-bottom: none;
        }
        tr {
          th {
            border: none;
          }
          td {
            select.form-control {
              height: 28px;
            }
            &.cancel, .fa-info-circle {
              color: $green;
            }
          }
        }
      }
    }
  }
  .divider {
    border-bottom: 1px solid transparentize($main, .52);
  }
  .panel-group {
    margin-bottom: -5px;
  }
  .panel {
    @include border-radius(0);
    box-shadow: none;
    //For Top Result Conditions in results.jade
    &.panel-elara {
      padding-bottom: 10px;
      .panel-heading {
        @include border-radius(0);
        border: 1px solid $main-bg-trans;
        background-color: $main-bg-trans;
        .panel-title {
          color: $white;
          @include title(18px, 400);
          letter-spacing: 1px;
          a:hover:active {
            text-decoration: none;
          }
        }
        .img-icon {
          padding-right: 8px;
          margin-top: -3px;
          margin-left: -8px;
          float: left;
        }
        .fa {
          color: $white !important;
        }
        .reserv-code {
          line-height: 15px;
          font-size: 15px;
          float: right;
          font-weight: 500;
          position: relative;
          top: -5px;
          .code {
            display: inline;
            position: relative;
            color: $main-dark;
            background: $white;
            margin-left: 20px;
            padding: 4px 6px 3px;
            top: -4px;
            font-size: 25px;
          }
        }
      }
      .panel-body {
        border: 1px solid $main-bg-trans;
        border-top: none;
        background-color: $white;
        .rate {
          font-size: 16px;
        }
        label {
          font-weight: 300 !important;
        }

        //FIX: Padding right for input type select
        .fx-pr {
          padding: 6px 2px 6px 12px;
        }
        .help-block {
          font-size: 12px;
          float: right;
          color: $main-dark;
          &.l {
            float: left !important;
          }
        }
      }
    }
    &.panel-terms {
      //==================================
      // Adjust the width of the container on the content
      display: -webkit-inline-block;
      display: inline-block;
      //==================================
      border: 1px solid $green;
      background-color: transparentize($green, .82);
      .panel-body {
        padding: 0 10px;

        .body-title {
          color: darken($green, 15%);
          font-size: 16px;
          margin: 5px 0 0;
        }
        ul {
          color: darken($green, 10%);
          font-size: 13px;
        }
      }
    }
    //==================================
  }
}
#map {
  width: 750px;
  height: 315px;
}
#c-map {
  width: 555px;
  height: 295px;
}
.amenities {
  background: #ededed;
  padding: 15px 0;
  margin-left: 0px;
  color: $mid-grey;

  li .icon {
    width: 30px;
    padding-bottom: 15px;
  }
  li:last-child .icon {
    margin-bottom: -10px;
    padding-bottom: 0;
  }
  .amt-name {
  }
  .amt-more {
    .fa-plus {
      color: $brand-primary;
    }
    padding-top: 5px;
    margin-bottom: 0;
  }
}
.promo {
  background-image: url('../images/pt-orange.png');
  background-repeat: repeat;
  .line {
    background-color: $white;
    top: 20px;
    height: 1px,
  }
  .title {
    color: $white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-bottom: 15px;
    margin-top: 0;
  }
  .panel-info {
    border: none;
    background: none;
    @include transition(all, .4s, ease-in, 0s);
    &:hover {
      @include bshadow(0, 0, 10px, $white);
    }
    &>.panel-heading {
      background-color: $thead2;
      border: none;
      padding: 8px 12px;
      span {
        color: $white;
        font-weight: 400;
        font-size: 14px;
      }
    }
    .panel-body {
      padding: 0;
      .fa-stack {
        position: absolute;
      }
      .fa-stack.fa-lg.icon {
        top: 150px;
        right: 20px;
        color: orange;
      }
    }
  }
  .btn-promo {
    background-color: transparentize($orange, .75);
    border: 1px solid $white;
    color: $white;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 30px;
    -webkit-transition: all .5s;
    transition: all .5s;
    &:hover {
      color:$orange;
      background-color: $white;
    }
  }
}


// Rooms
.media-cont {
  margin-bottom: 15px;
  .thumbnail {
    padding: 10px;
    -webkit-transition: all .5s;
    transition: all .5s;
    @include border-radius (0);


    &:hover {
      @include bshadow(0,0, 8px, $mid-grey);
    }
    //full-width image top. Used for promotions landing
    &.fw-top {
      padding: 0;
      border: none;
      .top-img {
        height: 230px;
        overflow: hidden;
        img {
          position: relative;
          top: -40px;
        }
      }
      .caption {
        padding: 10px;
        border: 1px solid transparentize(#0965ff, .4);
        border-top: none;
        margin-top: -35px;

        .title {
          @extend .subtitle;
          z-index: 2000 !important;
          color: $white;
          padding: 5px 10px;
          position: relative;
          margin: -45px -11px 9px;
          background-color: transparentize(#0965ff, .4);
        }
      }
    }
    .caption {
      padding: 10px 0 0;
      font-size: 17px;
      font-weight:500;
      color: $min-grey;

      .rm-title {
        margin-top: 0;
        color: $brand-info;
      }
      .rm-size {
        letter-spacing: 1px;
        color: $min-grey;
      }
      .ftitle {
        margin-bottom: 10px;
        text-decoration: none;
        display: block;

        .rm-size {
          @extend .rm-size;
        }
        .rm-ocupant {
          color: $min-grey;
        }
        .rm-description {
          font-weight: 300;
          color: $mid-grey;
        }
      }
      // Promotions
      .description {
        @include title(15px, 300);
        color: $main-dark;
      }
      .validity {
        @include title(13px, 300);
        color: lighten($main, 15%);
        text-align: right;
        margin-bottom: 5px;
      }
      .conditions {
        @include title(13px, 300);
        color: $green;
        line-height: 14px;
        letter-spacing: 0;
      }
      .btn-right-single {
        position: relative;
        right: -70px;
        margin-bottom: 0px;
      }
      .btn-left-double {
        position: relative;
        right: -15px;
      }
      .btn-right-double {
        float: right;
        position: relative;
        right: 5px;
      }
      .btn-group.open .dropdown-toggle {
        box-shadow: none;
      }
      .social-menu {
        .fa-facebook-square {
          color: #3b5998;
        }
        .fa-twitter-square {
          color:#55acee;
        }
        .fa-whatsapp {
          color: #43d854;
        }
        .fa-google-plus-square {
          color:#dc4e41;
        }
      }
      .btn-share {
        font-weight: 300;
        text-decoration: none;
        color: $mid-grey;
        background: none;
        border: none;
        &.open {
          background: none;
          color: red;
        }
      }
    }
  }
}

// Suscribe
.suscribe {
  padding-top: 30px;
  padding-bottom: 28px;

  .sus-text {
    font-size: 22px;
    position: relative;
    color: #021940;
    top: 4px;
    padding-right: 15px;
    color: $main-dark;

    .fa-envelope-o {
      top: -2px;
      position: relative;
      padding-right: 3px;
    }
  }
  .input-lg {
    margin-right: 10px;
  }
}

#blueimp-gallery {
  .fa {
    font-size: 18px !important;
    position: relative;
    top: -7px;
  }
}
// Backgrounds
.img-cover {
  background-image: url($img_path + 'cover/bg-search-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  @include bg-size(cover);
}
.bg-search-n {
  // Set a default value
  background-image: url($img_path + 'cover/bg-search-1.jpg');
  background-position: center;
  @include bg-size(cover);
  min-height: 210px;
  position: relative;
  margin-bottom: -63px;
}
.img-contact {
  background-image: url( $img_path + 'cover/bg-contacto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  @include bg-size(cover);
  min-height: 265px;
}
.bg-min-grey {
  margin-top: 30px;
  background-color: $gray-lighter;
}
// Contacto
.card {
  background: $gallery;
  border-left: 2px solid $orange;
  font-size: 16px;
  margin-top: 30px;
  color: $mid-grey;
  @include border-radius(0,0);
  ul li {
    padding-top: 15px;
    .icon {
      width: 30px;
      color: $orange;
    }
  }
}
.card-b {
  background: transparentize($main-dark, .88);
  border-left: 4px solid $main-dark;
  font-size: 18px;
  padding: 15px;
  .subtitle {
    color: $main-dark;
  }
  .btn-360 {
    padding: 6px 12px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid;
    -webkit-transition: all .5s;
    transition: all .5s;
    .txt {
      padding-right: 5px;
      @include title(18px, 700);
      color: $main-dark;
    }
    &:hover {
      background-color: transparentize($main-dark, .76);
    }
  }
  .fx-t4 {
    position: relative;
    top: 4px;
  }
  .box-price {
    @include title(15px, 300);
    color: $min-grey;
    text-align: center;

    .fPrice {
      position: relative;
      bottom: 10px;
      margin-bottom: -8px;
      .dsign ,  .price {
        color: $orange;
      }
      .dsign  {
        @include title(21px,400);
        position: relative;
        bottom: 3px;
      }
      .price {
        @include title(34px,700);
      }
    }
  }
}
.contact-title-top {
  font-size: 52px;
  font-weight: 700;
  text-shadow: 1px 1px 0 #000;
  color: white;
  position: relative;
  bottom: -140px;
}

//términos y condiciones de servicio
.tos {
  background-color: $gallery;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  color: $mid-grey !important;
  a h4 {
    border-top: 1px solid $min-grey;
    border-bottom: 1px solid $min-grey;
    padding-top: 15px;
    color: $mid-grey;
    padding-bottom: 15px;
    &:hover {
      color: $mid-grey;
      text-decoration: none;
    }
  }
  h4, h5 {
    font-weight: 400;
  }
  p {
    font-weight: 300;
  }
}
